<template>
  <q-list>
    <q-item-label header>
      Категории
    </q-item-label>
    <q-item>
      <q-item-section>
        <ApolloQuery
          :query="require('src/graphql/queries/allEvents.gql')"
          @error="unknownError"
          @result="eventsLoaded"
        >
          <template #default="{ result: { loading, error, data } }">
            <div v-if="error">
              Произошла ошибка {{ error }}
            </div>
            <q-select
              v-else
              v-model="selectedEvent"
              label="Соревнование"
              :loading="loading"
              filled
              :options="data?data.events:[]"
              option-value="id"
              option-label="name"
            />
          </template>
        </ApolloQuery>
      </q-item-section>
    </q-item>

    <q-item>
      <q-item-section side>
        <category-select
          :multiple="false"
          :selected-categories.sync="selectedCategories"
          :categories="eventCategories?eventCategories:[]"
          :loading="$apollo.queries.eventCategories.loading"
          style="width:300px"
          @update:selected-categories="onCategorySelect"
        />
      </q-item-section>
      <q-item-section side>
        <q-btn
          flat
          icon="shuffle"
          title="Перемешать"
          :disable="!selectedCategory"
          @click="isTossCategoryDialogOpened=true"
        />
        <category-form
          v-if="isTossCategoryDialogOpened"
          :is-open.sync="isTossCategoryDialogOpened"
          action="toss"
          :event="selectedEvent"
          :category="selectedCategory"
          @done="_=>{selectedCategories=[]; isTossCategoryDialogOpened=false}"
          @toss="onCategoryToss"
        />
      </q-item-section>
      <q-item-section side>
        <q-btn
          flat
          icon="trending_up"
          title="Перемешать от худших к лучшим"
          :disable="!selectedCategory"
          @click="isTossWorstBestCategoryDialogOpened=true"
        />
        <category-form
          v-if="isTossWorstBestCategoryDialogOpened"
          :is-open.sync="isTossWorstBestCategoryDialogOpened"
          action="tossWorstBest"
          :event="selectedEvent"
          :category="selectedCategory"
          @done="_=>{selectedCategories=[]; isTossWorstBestCategoryDialogOpened=false}"
          @toss-worst-best="onCategoryTossWorstBest"
        />
      </q-item-section>
      <q-item-section side>
        <q-btn
          flat
          icon="add"
          @click="isCreateCategoryDialogOpened=true"
        />
        <category-form
          v-if="isCreateCategoryDialogOpened"
          :is-open.sync="isCreateCategoryDialogOpened"
          action="create"
          :event="selectedEvent"
          @done="onCategoryCreated"
        />
      </q-item-section>
      <q-item-section side>
        <q-btn
          flat
          icon="edit"
          :disable="!selectedCategory"
          @click="isUpdateCategoryDialogOpened=true"
        />
        <category-form
          v-if="isUpdateCategoryDialogOpened"
          :is-open.sync="isUpdateCategoryDialogOpened"
          action="update"
          :event="selectedEvent"
          :category="selectedCategory"
          @done="_=>{selectedCategories=[]; isUpdateCategoryDialogOpened=false}"
        />
      </q-item-section>
      <!-- <q-item-section side>
        <q-btn
          flat
          icon="remove"
          :disable="!selectedCategory"
          @click="isDeleteCategoryDialogOpened=true"
        />
        <category-form
          v-if="isDeleteCategoryDialogOpened"
          :is-open.sync="isDeleteCategoryDialogOpened"
          action="delete"
          :event="selectedEvent"
          :category="selectedCategory"
          @done="_=>{selectedCategories=[]; isDeleteCategoryDialogOpened=false}"
        />
      </q-item-section> -->
    </q-item>
    <q-item>
      <q-item-section v-if="selectedCategory">
        <div class="row">
          <q-chip
            v-for="kind in selectedCategory.kinds"
            :key="kind.id"
            style="width:100px"
            :label="kind.name"
          />
        </div>
      </q-item-section>
    </q-item>
    <q-item v-if="selectedCategory && participantsToCreate.length>0">
      <q-item-section>
        <sportsmen-groups-table
          :data.sync="participantsToCreate"
          :loading="$apollo.queries.categorySportsmenGroups.loading"
          selection="none"
          :is-sportsman-groups="isSelectedCategorySportsmanGroups"
          is-editable
          is-local
          separator="cell"
          @field-update="onParticipantToCreateFieldUpdate"
        >
          <template #create="{}">
            <q-btn
              flat
              icon="add"
              @click="addParticipantToCreate"
            />
            <q-btn
              flat
              icon="done"
              @click="createParticipantsInCategory"
            />
            <q-btn
              flat
              icon="close"
              @click="participantsToCreate=[]"
            />
          </template>
        </sportsmen-groups-table>
      </q-item-section>
    </q-item>
    <q-item v-if="selectedCategory">
      <q-item-section>
        <sportsmen-groups-table
          :data="participants"
          :loading="$apollo.queries.categorySportsmenGroups.loading"
          selection="multiple"
          :selected.sync="selectedData"
          :is-sportsman-groups="isSelectedCategorySportsmanGroups"
          is-draggable
          is-editable
          @on-drag-end="onDragEnd"
          @field-update="onParticipantToCreateFieldUpdate"
        >
          <template
            v-if="participantsToCreate.length===0"
            #create="{}"
          >
            <q-btn
              flat
              icon="add"
              @click="onCreateParticipantsShow"
            />
          </template>
          <template #delete="{selected}">
            <q-btn
              flat
              icon="remove"
              @click="onParticipantsDelete(selected)"
            />
          </template>
        </sportsmen-groups-table>
      </q-item-section>
    </q-item>
    <q-item>
      <q-item-section>
        <q-uploader @added="load" />
      </q-item-section>
    </q-item>
    <q-item>
      <q-item-section side>
        <q-btn
          :disable="!selectedSheet || !selectedCategory"
          label="Импорт"
          @click="importSportsmenGroupsToCategory"
        />
      </q-item-section>
      <q-item-section side>
        <q-checkbox
          v-model="firstRowIsHeader"
          label="Первая строка - заголовок"
        />
      </q-item-section>
    </q-item>
    <q-item>
      <q-item-section>
        <q-select
          :value="selectedSheet"
          style="max-width:300px"
          label="Лист"
          filled
          :options="worksheets"
          option-value="id"
          option-label="name"
          @input="value=>{selectedSheet=value; selectedDataForImport=[]}"
        />
      </q-item-section>
    </q-item>
    <q-item>
      <q-item-section>
        <sportsmen-groups-table
          :data="isSelectedWorksheetDataSportsmanGroups?selectedWorksheetSportsmanGroups:selectedWorksheetSportsmen"
          :loading="$apollo.queries.eventCategories.loading"
          selection="multiple"
          row-key="rowNumber"
          :selected.sync="selectedDataForImport"
          :is-sportsman-groups="isSelectedWorksheetDataSportsmanGroups"
          is-draggable
        />
      </q-item-section>
    </q-item>
  </q-list>
</template>

<script>
import * as Excel from 'exceljs'
import { uid } from 'quasar'

import REORDER_SPORTSMEN_GROUPS_IN_CATEGORY from 'src/graphql/mutations/updateSportsmenGroupsOrderInCategory.gql'

import UPSERT_COUNTRY from 'src/graphql/mutations/upsertCountry.gql'
import UPSERT_REGION from 'src/graphql/mutations/upsertRegion.gql'
import UPSERT_CITY from 'src/graphql/mutations/upsertCity.gql'
import UPDATE_CATEGORY from 'src/graphql/mutations/updateCategory.gql'
import DELETE_PARTICIPANTS_IN_CATEGORY from 'src/graphql/mutations/deleteParticipantsInCategory.gql'
import TOSS_FROM_WORST_TO_BEST from 'src/graphql/mutations/tossFromWorstToBest.gql'

import ALL_COUNTRIES from 'src/graphql/queries/allCountries.gql'
import ALL_CITIES from 'src/graphql/queries/allCities.gql'
import ALL_REGIONS from 'src/graphql/queries/allRegions.gql'
import CATEGORY_SPORTSMEN_GROUPS from 'src/graphql/queries/categorySportsmenGroups.gql'
import EVENT_CATEGORIES from 'src/graphql/queries/eventCategories.gql'

import unknownError from 'src/mixins/unknownError'
import { formatSportsmanToCreate, formatSportsmanGroupToCreate } from 'src/utils/dataFormat'
import SportsmenGroupsTableComponent from 'src/components/commons/sportsmenGroupsTable.vue'
import CategoryFormComponent from 'src/components/categories/categoryForm.vue'
import CategorySelectComponent from 'src/components/commons/categorySelect'
export default {
  components: {
    SportsmenGroupsTable: SportsmenGroupsTableComponent,
    CategoryForm: CategoryFormComponent,
    CategorySelect: CategorySelectComponent
  },
  mixins: [unknownError],

  props: {
    loading: {
      type: Boolean,
      default: true
    }
  },
  data () {
    return {
      selectedEvent: null,
      selectedCategories: [],
      selectedSheet: null,
      workbook: null,
      firstRowIsHeader: true,
      selectedDataForImport: [],
      selectedData: [],
      participantsToCreate: [],
      isTossCategoryDialogOpened: false,
      isTossWorstBestCategoryDialogOpened: false,
      isCreateCategoryDialogOpened: false,
      isUpdateCategoryDialogOpened: false,
      isDeleteCategoryDialogOpened: false,
      sportsmenImportColumnsMap: {
        name: 2,
        // lastName: 2,
        // firstName: 3,
        year: 3,
        rank: 4,
        // category: 7,
        country: 5,
        region: 6,
        city: 7,
        club: 8,
        trainers: 9
      },
      sportsmanGroupsImportColumnsMap: {
        name: 10
      },
      categorySportsmenGroups: {
        sportsmen: [],
        sportsmanGroups: []
      }
    }
  },

  apollo: {
    allCountries: {
      query: ALL_COUNTRIES,
      update: data => data.countries
    },
    allRegions: {
      query: ALL_REGIONS,
      update: data => data.regions
    },
    allCities: {
      query: ALL_CITIES,
      update: data => data.cities
    },
    categorySportsmenGroups: {
      query: CATEGORY_SPORTSMEN_GROUPS,
      fetchPolicy: 'cache-and-network',
      variables () {
        return {
          where: {
            id: this.selectedCategory.id
          }
        }
      },
      update: data => data.category,
      error (error) {
        this.unknownError(error)
      },
      skip () {
        return !this.selectedCategory
      }
    },
    eventCategories: {
      query: EVENT_CATEGORIES,
      variables () {
        return {
          where: {
            events: {
              some: {
                id: { equals: this.selectedEvent.id }
              }
            }
          }
        }
      },
      update: data => data.categories,
      error (error) {
        this.unknownError(error)
      },
      skip () {
        return !this.selectedEvent
      }
    }
  },
  computed: {
    participants () {
      if (!this.categorySportsmenGroups) {
        return []
      }
      if (this.isSelectedCategorySportsmanGroups) {
        return this.categorySportsmenGroups.sportsmanGroups
      } else {
        return this.categorySportsmenGroups.sportsmen
      }
    },
    selectedCategory () {
      return this.selectedCategories?.[0]
    },
    isSelectedCategorySportsmanGroups () {
      return this.selectedCategory?.type === 'GROUP'
    },
    worksheets () {
      return this.workbook ? this.workbook.worksheets : []
    },
    variablesImportSportsmenGroupsToCategory () {
      return {
        where: {
          id: this.selectedCategory.id
        },
        data: this.isSelectedWorksheetDataSportsmanGroups
          ? {
              sportsmanGroups: {
                create: this.selectedDataForImport.map((item, i) => formatSportsmanGroupToCreate(item, this.participants.length + i + 1))
              }
            }
          : {
              sportsmen: {
                create: this.selectedDataForImport.map((item, i) => formatSportsmanToCreate(item, this.participants.length + i + 1))
              }
            }
      }
    },
    isSelectedWorksheetDataSportsmanGroups () {
      return this.selectedWorksheetSportsmanGroups.length > 0
    },
    selectedWorksheetSportsmen () {
      if (this.isSelectedWorksheetDataSportsmanGroups) {
        return []
      }
      const sportsmen = []
      if (this.selectedSheet) {
        this.selectedSheet.eachRow((row, rowNumber) => {
          const values = row.values
          sportsmen.push(this.parseSportsmanFromExcel(values, rowNumber))
        })
        if (this.firstRowIsHeader) {
          return sportsmen.slice(1, sportsmen.length)
        }
      }
      return sportsmen
    },
    selectedWorksheetSportsmanGroups () {
      const sportsmanGroups = []
      if (this.selectedSheet) {
        this.selectedSheet.eachRow((row, rowNumber) => {
          const values = row.values
          const groupName = values[this.sportsmanGroupsImportColumnsMap.name]
          const sportsmanGroup = sportsmanGroups.find(({ name }) => name === groupName)
          const sportsman = this.parseSportsmanFromExcel(values, rowNumber)
          if (sportsmanGroup) {
            sportsmanGroup.sportsmen.push(sportsman)
            return
          }
          sportsmanGroups.push({
            rowNumber: sportsmanGroups.length + 1,
            name: groupName,
            country: values[this.sportsmenImportColumnsMap.country],
            region: values[this.sportsmenImportColumnsMap.region],
            city: values[this.sportsmenImportColumnsMap.city],
            club: values[this.sportsmenImportColumnsMap.club] ?? '',
            trainers: values[this.sportsmenImportColumnsMap.trainers] ?? '',
            sportsmen: [sportsman]
          })
        })
        if (this.firstRowIsHeader) {
          return sportsmanGroups.slice(1, sportsmanGroups.length)
        }
      }
      return sportsmanGroups
    }
  },
  methods: {
    eventsLoaded (result) {
      this.selectedEvent = result.data.events.find(event => event.state === 'OPENED')
    },
    load (files) {
      const file = files[0]

      if (file) {
        const reader = new FileReader()

        reader.onload = async (event) => {
          this.workbook = await new Excel.Workbook().xlsx
            .load(event.target.result)
        }

        reader.readAsArrayBuffer(file)
      }
    },
    async importSportsmenGroupsToCategory () {
      const countriesToUpsert = []
      const regionsToUpsert = []
      const citiesToUpsert = []
      const checkGeoForExisting = ({ country, region, city }) => {
        if (!this.allCountries.some(({ name }) => name === country) && !countriesToUpsert.includes(country)) countriesToUpsert.push(country)
        if (!this.allRegions.some(({ name }) => name === region) && !regionsToUpsert.includes(region)) regionsToUpsert.push(region)
        if (!this.allCities.some(({ name }) => name === city) && !citiesToUpsert.includes(city)) citiesToUpsert.push(city)
      }
      this.selectedDataForImport.forEach(({ country, region, city, sportsmen = [] }) => {
        sportsmen.forEach(checkGeoForExisting)
        checkGeoForExisting({ country, region, city })
      })
      await Promise.all([
        this.upsertCountries(countriesToUpsert),
        this.upsertRegions(regionsToUpsert),
        this.upsertCities(citiesToUpsert)
      ])
      await this.updateCategory(this.variablesImportSportsmenGroupsToCategory)
    },
    async updateCategory (variables) {
      const categoryId = variables.where.id
      await this.$apollo.mutate({
        mutation: UPDATE_CATEGORY,
        variables,
        update: (store, { data: { updateOneCategory } }) => {
          const variables = {
            where: {
              id: categoryId
            }
          }
          const data = store.readQuery({
            query: CATEGORY_SPORTSMEN_GROUPS,
            variables
          })
          data.category = updateOneCategory
          store.writeQuery({ query: CATEGORY_SPORTSMEN_GROUPS, variables, data })
        }
      })
    },
    upsertCountries (countriesToUpsert) {
      return Promise.all(countriesToUpsert.map(name => {
        if (name) {
          return this.$apollo.mutate({
            mutation: UPSERT_COUNTRY,
            variables: {
              where: { name },
              create: { name },
              update: { name: { set: name } }
            },
            update: (store, { data: { upsertOneCountry } }) => {
              const data = store.readQuery({ query: ALL_COUNTRIES })
              data.countries.push(upsertOneCountry)
              store.writeQuery({ query: ALL_COUNTRIES, data })
            }
          })
        }
      }))
    },
    upsertRegions (regionsToUpsert) {
      return Promise.all(regionsToUpsert.map(name => {
        if (name) {
          return this.$apollo.mutate({
            mutation: UPSERT_REGION,
            variables: {
              where: { name },
              create: { name },
              update: { name: { set: name } }
            },
            update: (store, { data: { upsertOneRegion } }) => {
              const data = store.readQuery({ query: ALL_REGIONS })
              data.regions.push(upsertOneRegion)
              store.writeQuery({ query: ALL_REGIONS, data })
            }
          })
        }
      }))
    },
    upsertCities (citiesToUpsert) {
      return Promise.all(citiesToUpsert.map(name => {
        if (name) {
          return this.$apollo.mutate({
            mutation: UPSERT_CITY,
            variables: {
              where: { name },
              create: { name },
              update: { name: { set: name } }
            },
            update: (store, { data: { upsertOneCity } }) => {
              const data = store.readQuery({ query: ALL_CITIES })
              data.cities.push(upsertOneCity)
              store.writeQuery({ query: ALL_CITIES, data })
            }
          })
        }
      }))
    },
    parseLastFirstNameColumn (name) {
      name = name.match(/\S+/g) || []
      const lastName = name[0] || ''
      const firstName = name[1] || ''
      return {
        lastName,
        firstName
      }
    },
    parseSportsmanFromExcel (values, rowNumber) {
      return {
        rowNumber,
        lastName: this.parseLastFirstNameColumn(values[this.sportsmenImportColumnsMap.name]).lastName,
        firstName: this.parseLastFirstNameColumn(values[this.sportsmenImportColumnsMap.name]).firstName,
        year: '' + values[this.sportsmenImportColumnsMap.year],
        rank: '' + values[this.sportsmenImportColumnsMap.rank],
        // category: values[this.sportsmenImportColumnsMap.category],
        country: values[this.sportsmenImportColumnsMap.country],
        region: values[this.sportsmenImportColumnsMap.region],
        city: values[this.sportsmenImportColumnsMap.city],
        club: values[this.sportsmenImportColumnsMap.club] ?? '',
        trainers: values[this.sportsmenImportColumnsMap.trainers] ?? ''
      }
    },
    async onDragEnd ({ order }) {
      const data = this.participants
      const toUpdate = []
      order.forEach((id, i) => {
        const item = data.find(item => item.id === id)
        if (item && item.numberInCategory !== i + 1) {
          toUpdate.push({ where: { id }, data: { numberInCategory: { set: i + 1 } } })
        }
      })
      await this.reorderParticipantsInCategory(this.selectedCategory.id, toUpdate, this.isSelectedCategorySportsmanGroups)
    },
    async onCategoryToss (categoryId) {
      const participants = this.participants

      for (let i = participants.length - 1; i > 0; i--) {
        const j = Math.floor(Math.random() * (i + 1));
        [participants[i], participants[j]] = [participants[j], participants[i]]
      }
      const toUpdate = participants.map((participant, i) => ({
        where: { id: participant.id }, data: { numberInCategory: { set: i + 1 } }
      }))
      await this.reorderParticipantsInCategory(categoryId, toUpdate, this.isSelectedCategorySportsmanGroups)
      this.isTossCategoryDialogOpened = false
    },
    async onCategoryTossWorstBest (categoryId) {
      await this.$apollo.mutate({
        mutation: TOSS_FROM_WORST_TO_BEST,
        variables: {
          categoryId
        }
      })
      this.isTossWorstBestCategoryDialogOpened = false
    },
    async reorderParticipantsInCategory (categoryId, toUpdate, isSportsmanGroup) {
      if (toUpdate.length === 0) {
        return
      }
      await this.$apollo.mutate({
        mutation: REORDER_SPORTSMEN_GROUPS_IN_CATEGORY,
        variables: {
          where: {
            id: categoryId
          },
          data: isSportsmanGroup
            ? {
                sportsmanGroups: {
                  update: toUpdate
                }
              }
            : {
                sportsmen: {
                  update: toUpdate
                }
              }
        }
      })
    },
    async onCategoryCreated () {
      this.isCreateCategoryDialogOpened = false
      await this.$apollo.queries.eventCategories.refetch()
    },

    async onParticipantsDelete (participants) {
      this.$q.dialog({
        title: `Удалить выделенных участников (${participants.length}) и все их результаты?`,
        cancel: true,
        'no-focus': true
      }).onOk(async () => {
        try {
          await this.$apollo.mutate({
            mutation: DELETE_PARTICIPANTS_IN_CATEGORY,
            variables: {
              categoryId: this.selectedCategory.id,
              participantsIds: participants.map(p => p.id),
              isSportsmanGroup: this.isSelectedCategorySportsmanGroups
            }
          })
          this.selectedData = []
          // await this.$apollo.queries.categorySportsmenGroups.refetch()
        } catch (error) {
          this.unknownError(error)
        }
      })
    },
    addParticipantToCreate () {
      if (this.isSelectedCategorySportsmanGroups) {
        this.participantsToCreate.push({
          id: uid(),
          numberInCategory: this.participantsToCreate.length + 1,
          name: '',
          country: null,
          region: null,
          city: null,
          club: '',
          trainers: '',
          sportsmen: [...Array(5)].map((_, i) => ({
            id: uid(),
            numberInCategory: i + 1,
            lastName: '',
            firstName: '',
            year: '',
            rank: '',
            country: null,
            region: null,
            city: null,
            club: '',
            trainers: ''
          }))
        })
      } else {
        this.participantsToCreate.push({
          id: uid(),
          numberInCategory: this.participantsToCreate.length + 1,
          lastName: '',
          firstName: '',
          year: '',
          rank: '',
          country: null,
          region: null,
          city: null,
          club: '',
          trainers: ''
        })
      }
    },
    onParticipantToCreateFieldUpdate ({
      participant, field, value, isGroup
    }) {
      const isGeoUpdate = ['country', 'region', 'city'].includes(field)
      if (isGeoUpdate) {
        participant[field] = {
          id: value.id,
          name: value.name
        }
      } else {
        participant[field] = value
      }
    },
    async createParticipantsInCategory () {
      this.$q.dialog({
        title: `Создать участников (${this.participantsToCreate.length}) в категории ${this.selectedCategory.name}?`,
        cancel: true,
        'no-focus': true
      }).onOk(async () => {
        try {
          await this.updateCategory({
            where: {
              id: this.selectedCategory.id
            },
            data: this.isSelectedCategorySportsmanGroups
              ? {
                  sportsmanGroups: {
                    create: this.participantsToCreate.map((item, i) => formatSportsmanGroupToCreate(item, this.participants.length + i + 1))
                  }
                }
              : {
                  sportsmen: {
                    create: this.participantsToCreate.map((sportsman, i) =>
                      formatSportsmanToCreate(sportsman, this.participants.length + i + 1)
                    )
                  }
                }
          })
          this.participantsToCreate = []
        } catch (error) {
          this.unknownError(error)
        }
      })
    },
    onCreateParticipantsShow () {
      this.participantsToCreate = []
      this.addParticipantToCreate()
    },
    onCategorySelect () {
      this.participantsToCreate = []
      this.selectedData = []
    }
  }
}
</script>

<style>
</style>
