<template>
  <q-markup-table
    separator="cell"
    dense
    bordered
  >
    <thead />
    <tbody class="notify-marks">
      <tr no-hover>
        <th>{{ nameLabel }}</th>
        <th>D1</th>
        <th v-if="isIndividualWithoutApparatus">
          D2
        </th>
        <th>D3</th>
        <th v-if="isIndividualWithoutApparatus">
          D4
        </th>
        <th>D ОБЩ</th>
        <th>E1-E2</th>
        <th>E3</th>
        <th>E4</th>
        <th>E5</th>
        <th>E6</th>
        <th>E ОБЩ</th>
        <th>Сбавка</th>
        <th>БАЛЛ</th>
      </tr>
      <tr no-hover>
        <td>{{ geoLabel }}</td>
        <td class="difficulty">
          {{ formatScore(score.d1) }}
        </td>
        <td
          v-if="isIndividualWithoutApparatus"
          class="difficulty"
        >
          {{ formatScore(score.d2) }}
        </td>
        <td class="difficulty">
          {{ formatScore(score.d3) }}
        </td>
        <td
          v-if="isIndividualWithoutApparatus"
          class="difficulty"
        >
          {{ formatScore(score.d4) }}
        </td>
        <td>{{ formatScore(score.finalD) }}</td>
        <td>{{ formatScore(score.e1_2) }}</td>
        <td>{{ formatScore(score.e3) }}</td>
        <td>{{ formatScore(score.e4) }}</td>
        <td>{{ formatScore(score.e5) }}</td>
        <td>{{ formatScore(score.e6) }}</td>
        <td>{{ formatScore(score.finalE) }}</td>
        <td>{{ formatScore(score.finalPenalty) }}</td>
        <td>{{ formatScore(score.finalScore) }}</td>
      </tr>
    </tbody>
  </q-markup-table>
</template>

<script>
import { formatScore, truncateString } from 'src/utils/dataFormat'
export default {
  // name: 'ComponentName',
  props: {
    performance: {
      type: Object,
      default: () => null
    }
  },
  data () {
    return {}
  },
  computed: {
    nameLabel () {
      const nameLabel = this.isGroup ? this.participant.name : `${this.participant.lastName} ${this.participant.firstName}`
      return truncateString(nameLabel, 35)
    },
    geoLabel () {
      const geoLabel = this.participant.city?.name ?? ''
      return truncateString(geoLabel, 35)
    },
    participant () {
      return this.performance.sportsman ?? this.performance.sportsmanGroup
    },
    isGroup () {
      return this.performance.sportsmanGroup
    },
    score () {
      return this.performance.score
    },
    isIndividualWithoutApparatus () {
      return !this.isGroup && !this.performance.kind.isApparatus
    }
  },
  methods: {
    formatScore (num) {
      return formatScore(num)
    }
  }
}
</script>
<style lang="stylus">
.notify-marks td {
  font-size: 3em !important;
  text-align: left;
  // border: 1px solid rgba(0,0,0,0.12) !important; /* Параметры границы */
}

.notify-marks th {
  font-size: 2em !important;
  text-align: left;
  // border: 1px solid rgba(0,0,0,0.12) !important; /* Параметры границы */
}

.difficulty {
    width 2.5em
}
</style>
