<template>
  <ApolloMutation
    :mutation="
      isUpdate || isCreate
        ? require('src/graphql/mutations/upsertEvent.gql')
        : require('src/graphql/mutations/deleteEvent.gql')
    "
    :variables="{
      create: isUpdate || isCreate ? dataForCreate : undefined,
      update: isUpdate || isCreate ? dataForUpdate : undefined,
      where:isUpdate || isCreate ? where : undefined,
      eventId:isDelete ? event.id : undefined
    }"
    :update="updateCache"
    @error="unknownError"
    @done="$emit('done')"
  >
    <template #default="{ mutate, loading: mutationLoading }">
      <dialog-form
        :is-open="isOpen"
        @update:is-open="value => $emit('update:is-open', value)"
        @submit="mutate()"
      >
        <template #header>
          <div class="text-h6">
            {{ headerText }}
          </div>
        </template>
        <template #form>
          <template v-if="isCreate || isUpdate">
            <q-input
              v-model="eventData.name"
              filled
              label="Название"
              lazy-rules
              :rules="[val => (val && val.length > 0) || 'Заполните поле']"
            />
            <q-select
              v-model="eventData.state"
              label="Состояние"
              filled
              :options="eventStates"
              emit-value
              map-options
              :rules="[val => (val && val.length > 0) || 'Заполните поле']"
            />
            <q-date
              v-if="isCreate"
              v-model="dateRange"
              range
            />
            <geo-select
              :country.sync="eventData.country"
              :region.sync="eventData.region"
              :city.sync="eventData.city"
            />
          </template>
          <template v-else-if="isDelete">
            <div class="text-h6">
              Удалить соревнование {{ event.name }}?
            </div>
          </template>
        </template>
        <template #submit-btn="{loading}">
          <q-btn
            label="Ок"
            :disable="loading || mutationLoading"
            type="submit"
            color="primary"
          />
        </template>
        <template #cancel-btn="{loading}">
          <q-btn
            v-close-popup
            :disable="loading || mutationLoading"
            label="Отмена"
            color="primary"
            flat
            class="q-ml-sm"
          />
        </template>
      </dialog-form>
    </template>
  </ApolloMutation>
</template>

<script>
import { date } from 'quasar'
// destructuring to keep only what is needed
const { addToDate, formatDate } = date
import unknownError from 'src/mixins/unknownError'
import formatForUpdate from 'src/mixins/formatForUpdate'
import DialogFormComponent from 'src/components/commons/dialogForm'
import GeoSelectComponent from 'src/components/commons/geoSelect'
import EVENTS_ALL from 'src/graphql/queries/allEvents.gql'
export default {
  components: {
    DialogForm: DialogFormComponent,
    GeoSelect: GeoSelectComponent
  },
  mixins: [unknownError, formatForUpdate],
  props: {
    isOpen: {
      type: Boolean,
      default: false
    },
    event: {
      type: Object,
      default: null
    },
    action: {
      type: String,
      default: 'create'
    }
  },
  data () {
    return {
      eventData: {
        name: '',
        state: '',
        country: {},
        region: {},
        city: {}
      },
      dateRange: {
        from: formatDate(new Date(), 'YYYY/MM/DD'),
        to: formatDate(addToDate(new Date(), { days: 3 }), 'YYYY/MM/DD')
      },
      // dateRange: { from: '2020/07/08', to: '2020/07/17' },
      eventStates: [
        { label: 'Открыто', value: 'OPENED' },
        { label: 'Окончено', value: 'FINISHED' }
      ]
    }
  },
  computed: {
    isCreate () {
      return this.action === 'create'
    },
    isUpdate () {
      return this.action === 'update'
    },
    isDelete () {
      return this.action === 'delete'
    },
    dataForUpdate () {
      return {
        ...this.formatForUpdate(this.eventData),
        country:
          this.eventData.country && this.eventData.country.id
            ? {
                connect: {
                  id: this.eventData.country.id
                }
              }
            : undefined,
        region:
          this.eventData.region && this.eventData.region.id
            ? {
                connect: {
                  id: this.eventData.region.id
                }
              }
            : undefined,
        city:
          this.eventData.city && this.eventData.city.id
            ? {
                connect: {
                  id: this.eventData.city.id
                }
              }
            : undefined
      }
    },
    dataForCreate () {
      if (!this.dateRange) {
        return
      }
      return {
        ...this.eventData,
        country:
          this.eventData.country && this.eventData.country.id
            ? {
                connect: {
                  id: this.eventData.country.id
                }
              }
            : undefined,
        region:
          this.eventData.region && this.eventData.region.id
            ? {
                connect: {
                  id: this.eventData.region.id
                }
              }
            : undefined,
        city:
          this.eventData.city && this.eventData.city.id
            ? {
                connect: {
                  id: this.eventData.city.id
                }
              }
            : undefined,

        judgeSeats: {
          create: [
            {
              type: 'd1',
              panel: 'PANEL_1'
            },
            {
              type: 'd2',
              panel: 'PANEL_1'
            },
            {
              type: 'd3',
              panel: 'PANEL_1'
            },
            {
              type: 'd4',
              panel: 'PANEL_1'
            },
            {
              type: 'e1_2',
              panel: 'PANEL_1'
            },
            {
              type: 'e3',
              panel: 'PANEL_1'
            },
            {
              type: 'e4',
              panel: 'PANEL_1'
            },
            {
              type: 'e5',
              panel: 'PANEL_1'
            },
            {
              type: 'e6',
              panel: 'PANEL_1'
            },
            {
              type: 'd1',
              panel: 'PANEL_2'
            },
            {
              type: 'd2',
              panel: 'PANEL_2'
            },
            {
              type: 'd3',
              panel: 'PANEL_2'
            },
            {
              type: 'd4',
              panel: 'PANEL_2'
            },
            {
              type: 'e1_2',
              panel: 'PANEL_2'
            },
            {
              type: 'e3',
              panel: 'PANEL_2'
            },
            {
              type: 'e4',
              panel: 'PANEL_2'
            },
            {
              type: 'e5',
              panel: 'PANEL_2'
            },
            {
              type: 'e6',
              panel: 'PANEL_2'
            }
          ]
        },
        defaultExportConfig: {
          create: {
            dateLabel: `Число-Число месяц ${date.formatDate(new Date(), 'YYYY')} года`,
            mainSecretaryLabel: '____________________Главный секретарь Иванова И. А. ССВК Москва',
            mainJudgeLabel: '____________________Главный судья Иванова И. А. МК(ССВК) Москва',
            footer: false,
            hiddenColumns: {
              set: ['rank']
            }
          }
        },
        isSeparateJudges: true,
        days: {
          create: (!this.dateRange.to && !this.dateRange.from)
            ? [{
                date: new Date(this.dateRange),
                autopilot: {
                  set: ['PANEL_1', 'PANEL_2']
                }
              }]
            : Array.from(Array(
              date.getDateDiff(this.dateRange.to, this.dateRange.from, 'days') + 1
            )).map((_, i) => ({
              date: addToDate(this.dateRange.from, { days: i }),
              autopilot: {
                set: ['PANEL_1', 'PANEL_2']
              }
            }))
        }
      }
    },
    where () {
      if (this.isCreate) {
        return {
          id: -1
        }
      }
      return {
        id: this.event.id
      }
    },
    headerText () {
      if (this.isCreate) {
        return 'Создание соревнования'
      }
      if (this.isUpdate) {
        return 'Изменение соревнования'
      }
      if (this.isDelete) {
        return 'Удаление соревнования'
      }
      return 'Неизвестное действие'
    }
  },
  created () {
    if (this.isCreate) {
      return
    }
    if (this.event) {
      this.eventData.name = this.event.name
      this.eventData.state = this.event.state
      this.eventData.country = this.event.country
      this.eventData.region = this.event.region
      this.eventData.city = this.event.city
    }
  },
  methods: {
    updateCache (
      store,
      {
        data: { upsertOneEvent }
      }
    ) {
      if (this.isUpdate) {
        return
      }
      const query = {
        query: EVENTS_ALL
      }
      const data = store.readQuery(query)
      if (this.isCreate) {
        data.events.push(upsertOneEvent)
      }
      if (this.isDelete) {
        const index = data.events.findIndex(
          event => event.id === this.event.id
        )
        if (index !== -1) {
          data.events.splice(index, 1)
        }
      }
      store.writeQuery({
        ...query,
        data
      })
    }
  }
}
</script>

<style></style>
