<template>
  <q-dialog
    :value="isJudgesSetOpen"
    :maximized="$q.platform.is.mobile"
    class="flex flex-center no-margin no-padding"
    @input="$emit('update:is-judges-set-open', $event)"
    @before-show="resetDialogSetPerformanceForJudgeSeat"
  >
    <q-card
      class="col-auto"
      flat
    >
      <q-card-section class="text-center">
        <div class="text-h6">
          Переключить судей панели {{ panel==='PANEL_1'?1:2 }}
        </div>
      </q-card-section>
      <q-card-section class="row flex-center">
        <q-input
          v-model.number="mainNumberToTemp"
          :readonly="!!mainNumberTo"
          autofocus
          type="number"
          filled
          style="max-width: 100px"
          @keyup.enter="onSetPerformanceForJudgeSeatsDialog();$emit('update:is-judges-set-open', false)"
        />
      </q-card-section>
      <q-card-section class="text-center row">
        <q-checkbox
          class="col"
          :value="judgeSeatsToSetOptions.every(judgeSeatTo=>judgeSeatTo.isSet)"
          @input="toggleAllJudgeSeatsTo"
        />
        <div
          v-for="judgeSeat in judgeSeatsToSetOptions"
          :key="judgeSeat.label"
          class="text-center col-auto column"
        >
          <div class="col text-h6">
            {{ judgeSeat.label }}
          </div>

          <q-checkbox
            v-model="judgeSeat.isSet"
            class="col"
          />
        </div>
      </q-card-section>

      <q-card-actions
        vertical
        align="center"
      >
        <q-btn
          v-close-popup
          label="Ок"
          stretch
          size="xl"
          :color="color"
          @click="onSetPerformanceForJudgeSeatsDialog"
        />
      </q-card-actions>
    </q-card>
  </q-dialog>
</template>

<script>
export default {
  props: {
    isJudgesSetOpen: {
      type: Boolean,
      default: false
    },
    mainNumberTo: {
      type: Number,
      default: null
    },
    panel: {
      type: String,
      default: 'PANEL_1'
    },
    color: {
      type: String,
      default: 'primary'
    }
  },
  data () {
    return {
      judgeSeatsToSetOptions: [
        { label: 'd1', isSet: true },
        { label: 'd2', isSet: true },
        { label: 'd3', isSet: true },
        { label: 'd4', isSet: true },
        { label: 'e1_2', isSet: true },
        { label: 'e3', isSet: true },
        { label: 'e4', isSet: true },
        { label: 'e5', isSet: true },
        { label: 'e6', isSet: true }
      ],
      mainNumberToTemp: null
    }
  },
  methods: {
    resetDialogSetPerformanceForJudgeSeat () {
      this.mainNumberToTemp = this.mainNumberTo
      this.toggleAllJudgeSeatsTo(true)
    },
    toggleAllJudgeSeatsTo (isSet) {
      this.judgeSeatsToSetOptions.forEach(judgeSeatTo => {
        judgeSeatTo.isSet = isSet
      })
    },
    onSetPerformanceForJudgeSeatsDialog () {
      this.$emit('set', this.judgeSeatsToSetOptions.filter(({ isSet }) => isSet).map(({ label }) => label), this.mainNumberToTemp)
    }
  }

}
</script>

<style>
</style>
