<template>
  <tr :class="{'rated':isRated}">
    <td>
      <div
        class="score-cell"
        style="width:1rem"
      >
        <q-btn
          outline
          style="width:2rem"
          align="center"
          :label="performance.mainNumber"
          @click="$emit('set-judges',performance.mainNumber)"
        />
      </div>
      <!-- <q-btn
        class="no-pointer-events"
        flat
        outline
        :label="performance.mainNumber"
      /> -->
    </td>
    <!-- <td>
      <slot
        :performance="performance"
        name="btn"
      />
    </td> -->
    <td>
      <div
        style="width:11rem"
        class="score-cell"
      >
        {{ participantLabel }}
      </div>
    </td>
    <td>
      <div
        class="score-cell"
        style="width:5rem"
      >
        {{ categoryYearLabel }}
      </div>
      <!-- <q-btn
        class="no-pointer-events"
        flat
        outline
        :label="performance.rotation.name"
      /> -->
    </td>
    <td>
      <div
        class="score-cell"
        style="width:6rem"
      >
        {{ geoLabel }}
      </div>
    </td>
    <td>
      <div
        class="score-cell"
        style="width:5rem"
      >
        {{ kindLabel }}
      </div>
      <!-- <q-btn
        class="no-pointer-events"
        flat
        outline
        :label="performance.kind.name"
      /> -->
    </td>
    <template v-if="isIndividualWithoutApparatus">
      <td :class="{'td--current':isOnPerformanceD1}">
        <q-btn
          class="score-btn bg-white"
          outline
          :label="performance.score.d1"
          @click="$emit('score-click',{performance, score:'d1'})"
        />
      </td>
      <td :class="{'td--current':isOnPerformanceD2}">
        <q-btn
          class="score-btn bg-white"
          outline
          :label="performance.score.d2"
          @click="$emit('score-click',{performance, score:'d2'})"
        />
      </td>
      <td :class="{'td--current':isOnPerformanceD3}">
        <q-btn
          class="score-btn bg-white"
          outline
          :label="performance.score.d3"
          @click="$emit('score-click',{performance, score:'d3'})"
        />
      </td>
      <td :class="{'td--current':isOnPerformanceD4}">
        <q-btn
          class="score-btn bg-white"
          outline
          :label="performance.score.d4"
          @click="$emit('score-click',{performance, score:'d4'})"
        />
      </td>
    </template>
    <template v-else>
      <td
        :class="{'td--current':isOnPerformanceD1_2}"
        colspan="2"
      >
        <q-btn
          class="score-btn bg-white"
          outline
          :label="performance.score.d1"
          @click="$emit('score-click',{performance, score:'d1_2'})"
        />
      </td>
      <td
        :class="{'td--current':isOnPerformanceD3_4}"
        colspan="2"
      >
        <q-btn
          class="score-btn bg-white"
          outline
          :label="performance.score.d3"
          @click="$emit('score-click',{performance, score:'d3_4'})"
        />
      </td>
    </template>
    <td>
      <div class="score-cell">
        {{ performance.score.finalD !== null ? performance.score.finalD : '-' }}
      </div>
      <!-- <q-btn
        class="score-btn no-pointer-events"
        flat
        :label="performance.score.finalD !== null ? performance.score.finalD : '-'"
      /> -->
    </td>
    <td :class="{'td--current':isOnPerformanceE1_2}">
      <q-btn
        class="score-btn bg-white"
        outline
        :label="performance.score.e1_2"
        @click="$emit('score-click',{performance, score:'e1_2'})"
      />
    </td>
    <td :class="{'td--current':isOnPerformanceE3}">
      <q-btn
        class="score-btn bg-white"
        outline
        :label="performance.score.e3"
        @click="$emit('score-click',{performance, score:'e3'})"
      />
    </td>
    <td :class="{'td--current':isOnPerformanceE4}">
      <q-btn
        class="score-btn bg-white"
        outline
        :label="performance.score.e4"
        @click="$emit('score-click',{performance, score:'e4'})"
      />
    </td>
    <td :class="{'td--current':isOnPerformanceE5}">
      <q-btn
        class="score-btn bg-white"
        outline
        :label="performance.score.e5"
        @click="$emit('score-click',{performance, score:'e5'})"
      />
    </td>
    <td :class="{'td--current':isOnPerformanceE6}">
      <q-btn
        class="score-btn bg-white"
        outline
        :label="performance.score.e6"
        @click="$emit('score-click',{performance, score:'e6'})"
      />
    </td>
    <td>
      <div class="score-cell">
        {{ performance.score.finalE !== null ? formatScore(performance.score.finalE) : '-' }}
      </div>
      <!-- <q-btn
        class="score-btn no-pointer-events"
        flat
        :label="performance.score.finalE !== null ? performance.score.finalE : '-'"
      /> -->
    </td>
    <td>
      <q-btn
        class="score-btn bg-white"
        outline
        :label="performance.score.finalPenalty"
        @click="$emit('score-click',{performance, score:'finalPenalty'})"
      />
    </td>
    <td>
      <div class="score-cell">
        {{ performance.score.finalScore !== null ? formatScore(performance.score.finalScore) : '-' }}
      </div>
      <!-- <q-btn
        class="score-btn no-pointer-events"
        flat
        :label="performance.score.finalScore !== null ? performance.score.finalScore : '-'"
      /> -->
    </td>
    <td>
      <q-btn
        v-if="performance.score.finalScore > 0"
        class="score-btn q-ma-none q-pa-none"
        outline
        :icon="performance.isShown?'cached':'visibility'"
        @click="$emit('show',performance)"
      />
    </td>
  </tr>
</template>

<script>
import { formatScore, truncateString } from 'src/utils/dataFormat'
export default {
  props: {
    performance: {
      type: Object,
      default: () => null
    },
    judgeSeats: {
      type: Array,
      default: () => null
    },
    color: {
      type: String,
      default: 'primary'
    }
  },
  // name: 'ComponentName',
  data () {
    return {}
  },
  computed: {
    participant () {
      return this.performance.sportsman ?? this.performance.sportsmanGroup
    },
    participantLabel () {
      if (!this.participant) {
        return this.performance.id
      }
      const label = this.participant.name || (this.participant.lastName + ' ' + this.participant.firstName)
      return truncateString(label, 30)
    },
    kindLabel () {
      return truncateString(this.performance.kind.name, 15)
    },
    categoryYearLabel () {
      if (!this.participant) {
        return ''
      }
      return truncateString(this.isGroup ? (this.participant?.category?.name ?? this.performance.id) : this.participant.year, 20)
    },
    geoLabel () {
      if (!this.participant) {
        return ''
      }
      return truncateString(this.participant.city?.name ?? '', 20)
    },
    isGroup () {
      return this.participant?.category?.type === 'GROUP'
    },
    judgeSeatsOnPerformance () {
      return this.judgeSeats.filter(judgeSeat => judgeSeat.currentPerformance && (judgeSeat.currentPerformance.id === this.performance.id))
    },
    isOnPerformanceD1 () {
      return this.judgeSeatsOnPerformance.some(judgeSeat => judgeSeat.type === 'd1')
    },
    isOnPerformanceD2 () {
      return this.judgeSeatsOnPerformance.some(judgeSeat => judgeSeat.type === 'd2')
    },
    isOnPerformanceD3 () {
      return this.judgeSeatsOnPerformance.some(judgeSeat => judgeSeat.type === 'd3')
    },
    isOnPerformanceD4 () {
      return this.judgeSeatsOnPerformance.some(judgeSeat => judgeSeat.type === 'd4')
    },
    isOnPerformanceD1_2 () {
      // return this.judgeSeatsOnPerformance.some(judgeSeat => judgeSeat.type === 'd1_2')
      return !this.isIndividualWithoutApparatus && this.judgeSeatsOnPerformance.some(judgeSeat => judgeSeat.type === 'd1')
    },
    isOnPerformanceD3_4 () {
      // return this.judgeSeatsOnPerformance.some(judgeSeat => judgeSeat.type === 'd3_4')
      return !this.isIndividualWithoutApparatus && this.judgeSeatsOnPerformance.some(judgeSeat => judgeSeat.type === 'd3')
    },
    isOnPerformanceE1_2 () {
      return this.judgeSeatsOnPerformance.some(judgeSeat => judgeSeat.type === 'e1_2')
    },
    isOnPerformanceE3 () {
      return this.judgeSeatsOnPerformance.some(judgeSeat => judgeSeat.type === 'e3')
    },
    isOnPerformanceE4 () {
      return this.judgeSeatsOnPerformance.some(judgeSeat => judgeSeat.type === 'e4')
    },
    isOnPerformanceE5 () {
      return this.judgeSeatsOnPerformance.some(judgeSeat => judgeSeat.type === 'e5')
    },
    isOnPerformanceE6 () {
      return this.judgeSeatsOnPerformance.some(judgeSeat => judgeSeat.type === 'e6')
    },
    isRated () {
      return this.performance.score.finalScore !== null
    },
    isIndividualWithoutApparatus () {
      return this.performance.sportsman && !this.performance.kind.isApparatus
    }
  },
  methods: {
    formatScore (score) {
      return formatScore(score)
    }
  }
}
</script>

<style lang="stylus">
.rated {
  background-color: $blue-grey-2;
}

.td--current {
  background-color: var(--q-color-primary) !important;
}

.score-btn {
  width: 3em;
}

.score-cell {
  width: 3em;
  font-size: $button-font-size;
  font-weight: $button-font-weight;
}
</style>
