<template>
  <q-infinite-scroll
    v-if="initialPerformanceMainNumber!==null && judgeSeats && performancesConnection"
    ref="infiniteScrollStart"
    :style="cssStyle"
    :scroll-target="$refs.virtualScroll"
    :offset="offsetScroll"
    :debounce="100"
    reverse
    :disable="!isVirtualScrollMounted"
    @load="(...args)=>fetchMorePerformancesStart($apollo.queries.performancesConnection,...args)"
  >
    <q-ajax-bar
      ref="barTop"
      position="right"
      reverse
      :color="color"
      size="5px"
      skip-hijack
    />
    <q-ajax-bar
      ref="barBottom"
      position="right"
      :color="color"
      size="5px"
      skip-hijack
    />
    <judge-set-dialog
      :is-judges-set-open.sync="isJudgesSetOpen"
      :main-number-to="mainNumberTo"
      :color="color"
      :panel="panel"
      @set="setPerformanceForJudgeSeats"
    />
    <q-infinite-scroll
      ref="infiniteScrollEnd"
      :scroll-target="$refs.virtualScroll"
      :offset="offsetScroll"
      :debounce="100"
      :disable="!isVirtualScrollMounted"
      @load="(...args)=>fetchMorePerformancesEnd($apollo.queries.performancesConnection,...args)"
    >
      <q-virtual-scroll
        :id="'scroll-container-'+panel"
        ref="virtualScroll"
        type="table"
        class="q-table--dense q-table--flat q-table--bordered q-table--square"
        :style="cssStyle"
        :virtual-scroll-item-size="$options.performanceRowHeight"
        :items="performancesConnection.edges.slice().sort((p1,p2)=>p1.node.mainNumber-p2.node.mainNumber)"
        @virtual-scroll="onVirtualScroll"
      >
        <template #default="{ item }">
          <performance-row
            :key="item.node.id"
            class="performance-row"
            :performance="item.node"
            :judge-seats="judgeSeats"
            :color="color"
            @score-click="evt=>$emit('score-click',evt)"
            @show="showPerformance"
            @set-judges="openDialogJudgesSet"
          />
        </template>
        <template #before>
          <thead class="thead-sticky text-left">
            <tr>
              <th>
                #
              </th>
              <th>
                Участник
              </th>
              <th>
                Категория/Год р.
              </th>
              <th>
                Город
              </th>
              <th>
                Вид
              </th>
              <th class="text-center">
                D1
              </th>
              <th class="text-center">
                D2
              </th>
              <th class="text-center">
                D3
              </th>
              <th class="text-center">
                D4
              </th>
              <th>
                D
              </th>
              <th>
                E1-E2
              </th>
              <th>
                E3
              </th>
              <th>
                E4
              </th>
              <th :class="{'bg-blue-grey-3':isJudgeE5Missing}">
                <q-btn
                  label="E5"
                  text-color="white"
                  unelevated
                  dense
                  align="left"
                  stretch
                  @click="toggleMissingJudge(`${panel}_E5`)"
                />
              </th>
              <th :class="{'bg-blue-grey-3':isJudgeE6Missing}">
                <q-btn
                  label="E6"
                  text-color="white"
                  unelevated
                  dense
                  align="left"
                  stretch
                  @click="toggleMissingJudge(`${panel}_E6`)"
                />
              </th>
              <th>
                E
              </th>
              <th>
                Сбавка
              </th>
              <th>
                Итоговая
              </th>
              <th>
                Показ
              </th>
            </tr>
          </thead>
        </template>

        <template #after>
          <tfoot class="tfoot-sticky text-left">
            <judge-seats-control-row
              :day-id="day.id"
              :panel="panel"
              :color="color"
              :is-separate="event.isSeparateJudges"
              @set-judges-dialog="openDialogJudgesSet"
              @set-judges="setPerformanceForJudgeSeats"
            />
          </tfoot>
        </template>
      </q-virtual-scroll>
    </q-infinite-scroll>
  </q-infinite-scroll>
</template>

<script>
import unknownError from 'src/mixins/unknownError'
import PerformanceRowComponent from 'src/components/scoring/performanceRow.vue'
import JudgeSeatsControlRowComponent from 'src/components/scoring/judgeSeatsControlRow.vue'
import judgeSetDialogComponent from 'src/components/scoring/judgeSetDialog.vue'
import EVENT_JUDGE_SEATS from 'src/graphql/queries/eventJudgeSeats.gql'
import DAY_PERFORMANCES_CONNECTION from 'src/graphql/queries/dayPerformancesConnection.gql'
import JUDGE_PANEL_UPDATED from 'src/graphql/subscriptions/judgePanelUpdated.gql'
import SCORE_UPDATED from 'src/graphql/subscriptions/scoreUpdated.gql'
import PERFORMANCE_SHOWED from 'src/graphql/subscriptions/performanceShowed.gql'
import SHOW_PERFORMANCE from 'src/graphql/mutations/showPerformance.gql'
import TOGGLE_MISSING_JUDGE from 'src/graphql/mutations/toggleMissingJudge.gql'
import SET_PERFORMANCE_FOR_JUDGE_SEATS from 'src/graphql/mutations/setPerformanceForJudgeSeats.gql'
import MANY_PERFORMANCES_UPDATED from 'src/graphql/subscriptions/manyPerformancesUpdated.gql'
import PERFORMANCE_UPDATED from 'src/graphql/subscriptions/performanceUpdated.gql'
import { colors } from 'quasar'
export default {
  components: {
    PerformanceRow: PerformanceRowComponent,
    JudgeSeatsControlRow: JudgeSeatsControlRowComponent,
    judgeSetDialog: judgeSetDialogComponent
  },
  performanceRowHeight: 45, // read only
  mixins: [unknownError],
  props: {
    event: {
      type: Object,
      default: () => null
    },
    day: {
      type: Object,
      default: () => null
    },
    panel: {
      type: String,
      default: 'PANEL_1'
    },
    color: {
      type: String,
      default: 'primary'
    },
    cssStyle: {
      type: String,
      default: 'max-height: 45vh;min-height: 45vh'
    },
    performancesPageSize: {
      type: Number,
      default: 15
    }
  },
  data () {
    return {
      hasPerformancesNextPage: false,
      hasPerformancesPreviousPage: false,
      initialPerformanceMainNumber: null,
      isVirtualScrollMounted: false,
      virtualListIndex: 0,
      isJudgesSetOpen: false,
      mainNumberTo:null
    }
  },
  computed: {
    offsetScroll () {
      return this.$options.performanceRowHeight * this.performancesPageSize
    },
    isJudgeE5Missing () {
      return this.day?.missingJudges?.includes(`${this.panel}_E5`)
    },
    isJudgeE6Missing () {
      return this.day?.missingJudges?.includes(`${this.panel}_E6`)
    },
    performancesConnectionVariables () {
      // в первый раз подгружаем самое последнее выступление на котором есть судья
      return {
        first: this.performancesPageSize,
        where: {
          day: {
            id: {
              equals: this.day.id
            }
          },
          judgePanel: {
            equals: this.panel
          },
          AND: {
            OR: [
              {
                mainNumber: {
                  lte: this.initialPerformanceMainNumber < this.performancesPageSize ? this.performancesPageSize : this.initialPerformanceMainNumber
                },
                AND: {
                  mainNumber: {
                    gt: this.initialPerformanceMainNumber - this.performancesPageSize
                  }

                }
              }
            ]
          }

        }
      }
    }
  },
  watch: {
    day (newValue, oldValue) {
      this.isVirtualScrollMounted = false
    }
  },
  apollo: {
    judgeSeats: {
      query: EVENT_JUDGE_SEATS,
      variables () {
        return {
          where: {
            event: {
              id: {
                equals: this.event.id
              }
            },
            panel: {
              equals: this.panel
            }
          }
        }
      },
      result (result) {
        this.onJudgeSeatsLoaded(result)
        this.$apollo.queries.performancesConnection?.start()
      },
      error (error) {
        this.unknownError(error)
      },
      subscribeToMore: [
        {
          document: SCORE_UPDATED,
          variables () {
            return {
              dayId: this.day.id,
              judgePanel: this.panel
            }
          }
        },
        {
          document: JUDGE_PANEL_UPDATED,
          variables () {
            return {
              dayId: this.day.id,
              judgePanel: this.panel
            }
          }
        },
        {
          document: PERFORMANCE_SHOWED,
          variables () {
            return {
              eventId: this.event.id
            }
          }
        },
        {
          document: PERFORMANCE_UPDATED,
          variables () {
            return {
              dayId: this.day.id
            }
          }
        }
      ]
    },
    performancesConnection: {
      query: DAY_PERFORMANCES_CONNECTION,
      skip: true,
      fetchPolicy: 'network-only',
      variables () {
        return this.performancesConnectionVariables
      },
      result (result) {
        this.$nextTick(() => {
          colors.setBrand('primary', colors.getBrand(this.color), this.$el)
        })
      },
      error (error) {
        this.unknownError(error)
      }
    },

    $subscribe: {
      manyPerformancesUpdated: {
        query: MANY_PERFORMANCES_UPDATED,
        variables () {
          return {
            dayId: this.day.id
          }
        },
        result ({ data }) {
          if (data) {
            this.isVirtualScrollMounted = false
            this.$apollo.queries.performancesConnection.refetch()
          }
        },
        skip () {
          return !this.day
        }
      }
    }
  },
  methods: {
    async toggleMissingJudge (missingJudge) {
      try {
        await this.$apollo.mutate({
          mutation: TOGGLE_MISSING_JUDGE,
          variables: {
            dayId: this.day.id,
            missingJudge
          }
        })
      } catch (error) {
        this.unknownError(error)
      }
    },
    async showPerformance (performance) {
      try {
        await this.$apollo.mutate({
          mutation: SHOW_PERFORMANCE,
          variables: {
            id: performance.id
          }
        })
      } catch (error) {
        this.unknownError(error)
      }
    },
    async fetchMorePerformancesStart (query, index, done) {
      this.$refs.barTop.start(50)
      this.$refs.barBottom.increment(30)

      await query.fetchMore({
        variables: {
          where: {
            day: {
              id: {
                equals: this.day.id
              }
            },
            judgePanel: {
              equals: this.panel
            },
            mainNumber: {
              lt: this.performancesConnection.edges.slice().sort((p1, p2) => p1.node.mainNumber - p2.node.mainNumber)[0]?.node.mainNumber
            }
          },
          last: this.performancesPageSize,
          first: undefined
        },
        updateQuery: (prev, { fetchMoreResult: { performancesConnection: { edges, pageInfo } } }) => {
          this.hasPerformancesPreviousPage = pageInfo.hasPreviousPage
          // if (!this.hasPerformancesNextPage) {
          //   return prev
          // }
          // console.log(this.panel, 'start', pageInfo, edges.length, edges.filter(edge => !prev.performancesConnection.edges.some(edge2 => edge2.node.id === edge.node.id)).length)

          return Object.assign({}, prev, {
            performancesConnection: {
              __typename: prev.performancesConnection.__typename,
              edges: [...edges.filter(edge => !prev.performancesConnection.edges.some(edge2 => edge2.node.id === edge.node.id)), ...prev.performancesConnection.edges],
              pageInfo
            }
          })
        }
      })
      this.$refs.barTop.stop()
      if (this.virtualListIndex > 0) {
        this.$refs.virtualScroll.scrollTo(this.virtualListIndex + this.performancesPageSize, 'center')
      }
      done(!this.hasPerformancesPreviousPage)
    },
    async fetchMorePerformancesEnd (query, index, done) {
      this.$refs.barBottom.start(50)
      this.$refs.barBottom.increment(30)
      await query.fetchMore({
        variables: {
          where: {
            day: {
              id: {
                equals: this.day.id
              }
            },
            judgePanel: {
              equals: this.panel
            },
            mainNumber: {
              gt: this.performancesConnection.edges.slice().sort((p1, p2) => p1.node.mainNumber - p2.node.mainNumber)[this.performancesConnection.edges.length - 1]?.node.mainNumber
            }
          },
          first: this.performancesPageSize,
          last: undefined
        },
        updateQuery: (prev, { fetchMoreResult: { performancesConnection: { edges, pageInfo } } }) => {
          this.hasPerformancesNextPage = pageInfo.hasNextPage
          // if (!this.hasPerformancesNextPage) {
          //   return prev
          // }
          // console.log(this.panel, 'end', pageInfo, edges.length, edges.filter(edge => !prev.performancesConnection.edges.some(edge2 => edge2.node.id === edge.node.id)).length)
          return Object.assign({}, prev, {
            performancesConnection: {
              __typename: prev.performancesConnection.__typename,
              edges: [...prev.performancesConnection.edges, ...edges.filter(edge => !prev.performancesConnection.edges.some(edge2 => edge2.node.id === edge.node.id))],
              pageInfo
            }
          })
        }
      })
      this.$refs.barBottom.stop()
      done(!this.hasPerformancesNextPage)
    },
    onJudgeSeatsLoaded (resultObject) {
      if (this.initialPerformanceMainNumber !== null) {
        return
      }
      let lastCurrentPerformance = resultObject.data.judgeSeats[0].currentPerformance
      resultObject.data.judgeSeats.forEach(judgeSeat => {
        if (judgeSeat.currentPerformance && lastCurrentPerformance && (judgeSeat.currentPerformance.mainNumber > lastCurrentPerformance.mainNumber)) {
          lastCurrentPerformance = judgeSeat.currentPerformance
        }
      })
      this.initialPerformanceMainNumber = lastCurrentPerformance ? lastCurrentPerformance.mainNumber : 1
    },
    onVirtualScroll (details) {
      this.virtualListIndex = details.index
      if (!this.isVirtualScrollMounted) {
        this.isVirtualScrollMounted = true
      }
    },
    openDialogJudgesSet (mainNumber) {
      this.mainNumberTo = mainNumber
      this.isJudgesSetOpen = true

    },
    async setPerformanceForJudgeSeats (judgeTypes, mainNumber) {
      try {
        await this.$apollo.mutate({
          mutation: SET_PERFORMANCE_FOR_JUDGE_SEATS,
          variables: { dayId: this.day.id, panel: this.panel, judgeTypes, mainNumber }
        })
      } catch (error) {
        this.unknownError(error)
      }
    }
  }
}
</script>

<style lang="stylus">
.thead-sticky tr > *, .tfoot-sticky tr > * {
  position: sticky;
  // width: 100%;
  opacity: 1;
  z-index: 1;
  background-color: var(--q-color-primary);
  color: white;
}

.thead-sticky tr:last-child > * {
  top: 0;
}

.tfoot-sticky tr:first-child > * {
  bottom: 0;
  width: 3em;
}
</style>
