<template>
  <ApolloMutation
    :mutation="require('src/graphql/mutations/upsertCategory.gql')"
    :variables="{
      create: isUpdate || isCreate ? dataForCreate : undefined,
      update: isUpdate || isCreate ? dataForUpdate : undefined,
      where
    }"
    :update="updateCache"
    @error="unknownError"
    @done="$emit('done')"
  >
    <template #default="{ mutate, loading: mutationLoading }">
      <dialog-form
        :is-open="isOpen"
        @update:is-open="value => $emit('update:is-open', value)"
        @submit="onSubmit(mutate)"
      >
        <template #header>
          <div class="text-h6">
            {{ headerText }}
          </div>
        </template>
        <template #form>
          <template v-if="isCreate || isUpdate">
            <q-input
              v-model="categoryData.name"
              filled
              label="Название"
              lazy-rules
              autofocus
              :rules="[val => (val && val.length > 0) || 'Заполните поле']"
            />

            <q-option-group
              v-model="categoryData.type"
              :options="categoryTypes"
              color="primary"
            />

            <q-select
              v-model="categoryData.kinds"
              multiple
              use-chips
              label="Виды категории"
              filled
              :options="allKinds"
              option-value="id"
              option-label="name"
              style="min-width:400px"
            />
            <q-select
              v-model="categoryData.kindsBestResults"
              multiple
              use-chips
              label="Виды с лучшим результатом"
              filled
              :options="allKinds"
              option-value="id"
              option-label="name"
              style="min-width:400px"
            />
          </template>
          <!-- <template v-else-if="isDelete">
            <div class="text-h6">
              Удалить категорию {{ category.name }}?
            </div>
          </template> -->
          <template v-else-if="isToss">
            <div class="text-h6">
              Перемешать участников в категории {{ category.name }}?
            </div>
          </template>
          <template v-else-if="isTossWorstBest">
            <div class="text-h6">
              Перемешать участников в категории {{ category.name }} по результатам от худших к лучшим?
            </div>
          </template>
        </template>
        <template #submit-btn="{loading}">
          <q-btn
            label="Ок"
            :disable="loading || mutationLoading"
            type="submit"
            color="primary"
          />
        </template>
        <template #cancel-btn="{loading}">
          <q-btn
            v-close-popup
            :disable="loading || mutationLoading"
            label="Отмена"
            color="primary"
            flat
            class="q-ml-sm"
          />
        </template>
      </dialog-form>
    </template>
  </ApolloMutation>
</template>

<script>
import unknownError from 'src/mixins/unknownError'
import formatForUpdate from 'src/mixins/formatForUpdate'
import DialogFormComponent from 'src/components/commons/dialogForm'
import EVENT_CATEGORIES from 'src/graphql/queries/eventCategories.gql'
import ALL_KINDS from 'src/graphql/queries/allKinds.gql'
export default {
  components: {
    DialogForm: DialogFormComponent
  },
  mixins: [unknownError, formatForUpdate],
  props: {
    isOpen: {
      type: Boolean,
      default: false
    },
    category: {
      type: Object,
      default: null
    },
    event: {
      type: Object,
      default: null
    },
    action: {
      type: String,
      default: 'create'
    }
  },
  data () {
    return {
      categoryData: {
        name: '',
        type: 'INDIVIDUAL',
        kinds: [],
        kindsBestResults: []
      },
      categoryTypes: [
        { label: 'Групп.', value: 'GROUP' },
        { label: 'Инд.', value: 'INDIVIDUAL' }
      ]
    }
  },
  apollo: {
    allKinds: {
      query: ALL_KINDS,
      update: data => data.kinds,
      error (error) {
        this.unknownError(error)
      }
    }
  },
  computed: {
    isCreate () {
      return this.action === 'create'
    },
    isUpdate () {
      return this.action === 'update'
    },
    // isDelete () {
    //   return this.action === 'delete'
    // },
    isToss () {
      return this.action === 'toss'
    },
    isTossWorstBest () {
      return this.action === 'tossWorstBest'
    },
    dataForUpdate () {
      return {
        ...this.formatForUpdate(this.categoryData),
        kinds: {
          set: this.categoryData.kinds.map(kind => ({ id: kind.id }))
        },
        kindsBestResults: {
          set: this.categoryData.kindsBestResults.map(kind => ({ id: kind.id }))
        }
      }
    },
    dataForCreate () {
      return {
        ...this.categoryData,
        events: {
          connect: {
            id: this.event?.id
          }
        },
        kinds: {
          connect: this.categoryData.kinds.map(kind => ({ id: kind.id }))
        },
        kindsBestResults: {
          connect: this.categoryData.kindsBestResults.map(kind => ({ id: kind.id }))
        }
      }
    },
    where () {
      if (this.isCreate) {
        return {
          id: -1
        }
      }
      return {
        id: this.category.id
      }
    },
    headerText () {
      if (this.isCreate) {
        return 'Создание категории'
      }
      if (this.isUpdate) {
        return 'Изменение категории'
      }
      // if (this.isDelete) {
      //   return 'Удаление категории'
      // }
      if (this.isToss || this.isTossWorstBest) {
        return 'Перемешать'
      }
      return 'Неизвестное действие'
    }
  },
  created () {
    if (this.isCreate) {
      return
    }
    if (this.category) {
      this.categoryData.name = this.category.name
      this.categoryData.type = this.category.type
      this.categoryData.kinds = this.category.kinds
      this.categoryData.kindsBestResults = this.category.kindsBestResults
    }
  },
  methods: {
    updateCache (
      store,
      {
        data: { upsertOneCategory }
      }
    ) {
      if (this.isUpdate) {
        return
      }
      const query = {
        query: EVENT_CATEGORIES,
        variables: {
          where: {
            events: {
              some: {
                id: { equals: this.event.id }
              }
            }
          }
        }
      }
      const data = store.readQuery(query)
      // if (this.isCreate) {
      //   data.categories.push(upsertOneCategory)
      // }
      // if (this.isDelete) {
      //   const index = data.categories.findIndex(
      //     category => category.id === this.category.id
      //   )
      //   if (index !== -1) {
      //     data.categories.splice(index, 1)
      //   }
      // }
      store.writeQuery({
        ...query,
        data
      })
    },
    async onSubmit (mutate) {
      console.log(this.isToss, this.action)
      if (this.isToss) {
        return this.$emit('toss', this.category.id)
      }
      if (this.isTossWorstBest) {
        return this.$emit('toss-worst-best', this.category.id)
      }
      await mutate()
    }
  }
}
</script>

<style></style>
