<template>
  <q-layout view="lHh Lpr lFf">
    <q-header elevated>
      <q-toolbar>
        <!-- <q-btn
          flat
          aria-label="Menu"
          @click="leftDrawerOpen = !leftDrawerOpen"
        >
          <q-icon name="menu" />
        </q-btn> -->
        <q-btn
          flat
          stretch
          :icon="$q.fullscreen.isActive ? 'fullscreen_exit' : 'fullscreen'"
          class="q-mr-sm"
          @click="$q.fullscreen.toggle()"
        />
        <q-separator
          dark
          vertical
          inset
        />
        <q-select
          v-if="$route.name==='scoring' && selectedEvent"
          v-model="selectedDay"
          label="День"
          :loading="daysLoading"
          borderless
          class="q-ml-md"
          :options="selectedEvent.days"
          option-value="id"
          :option-label="opt=>formatDate(opt.date, 'DD.MM.YYYY')"
          dark
          label-color="white"
          :options-dark="false"
          popup-content-class="bg-white"
        />
        <q-separator
          dark
          vertical
          inset
        />

        <q-option-group
          v-if="$route.name==='scoring' && selectedEvent && selectedDay"
          :value="selectedDay.autopilot"
          class="q-ml-md"
          :options="autopilotOptions"
          inline
          left-label
          type="toggle"
          @input="toggleAutopilot"
        />
        <q-separator
          dark
          vertical
          inset
        />
        <template v-if="$route.name==='scoring' && selectedEvent && selectedDay">
          <q-btn
            flat
            stretch
            icon="remove_circle_outline"
            class="q-ml-md"
            @click="isScoreClearDialogOpen=true"
          />

          <q-dialog
            v-model="isScoreClearDialogOpen"
            :maximized="$q.platform.is.mobile"
            class="flex flex-center no-margin no-padding"
            @before-show="mainNumberToClear=null"
          >
            <q-card
              class="col-auto"
              flat
            >
              <q-card-section class="text-center">
                <div class="text-h6">
                  Удалить оценки
                </div>
              </q-card-section>
              <q-card-section class="row flex-center">
                <q-input
                  v-model.number="mainNumberToClear"
                  autofocus
                  type="number"
                  filled
                  style="max-width: 100px"
                />
              </q-card-section>

              <q-card-actions
                vertical
                align="center"
              >
                <q-btn
                  v-close-popup
                  label="Ок"
                  stretch
                  size="xl"
                  color="primary"
                  :disable="!(mainNumberToClear>0)"
                  @click="clearScore(mainNumberToClear)"
                />
              </q-card-actions>
            </q-card>
          </q-dialog>
        </template>

        <q-space />

        <q-toolbar-title />
        <!--
        notice shrink property since we are placing it
        as child of QToolbar
      -->
        <q-tabs
          shrink
          stretch
        >
          <q-route-tab
            label="Категории"
            to="/categories"
            exact
          />
          <q-route-tab
            label="Все участники"
            to="/participants"
            exact
          />
          <q-route-tab
            label="Стартовые листы"
            :to="{name:'start-lists'}"
            exact
          />
          <q-route-tab
            label="Судейство"
            to="/scoring"
            exact
          />
          <q-route-tab
            label="Результаты"
            to="/results"
            exact
          />
        </q-tabs>
      </q-toolbar>
    </q-header>

    <!-- <q-drawer
      v-model="leftDrawerOpen"
      show-if-above
      bordered
      content-class="bg-grey-1"
    >
      <q-list>
        <q-item-label
          header
          class="text-grey-8"
        >
          Essential Links
        </q-item-label>
      </q-list>
    </q-drawer> -->

    <q-page-container>
      <router-view
        :selected-event.sync="selectedEvent"
        :days-loading.sync="daysLoading"
        :selected-day.sync="selectedDay"
      />
    </q-page-container>
  </q-layout>
</template>

<script>
import { date } from 'quasar'
const { formatDate } = date
import UPDATE_EVENT from 'src/graphql/mutations/updateEvent.gql'
import CLEAR_SCORE from 'src/graphql/mutations/clearScore.gql'
import unknownError from 'src/mixins/unknownError'

export default {
  name: 'MainLayout',
  mixins: [unknownError],
  data () {
    return {
      leftDrawerOpen: false,
      selectedEvent: null,
      daysLoading: false,
      selectedDay: null,
      autopilot: [],
      isScoreClearDialogOpen: false,
      mainNumberToClear: null,
      autopilotOptions: [
        {
          label: 'Авто 1',
          value: 'PANEL_1'
        },
        {
          label: 'Авто 2',
          value: 'PANEL_2'
        }
      ]
    }
  },
  methods: {
    formatDate (date, format) {
      return formatDate(date, format)
    },
    async toggleAutopilot (value) {
      await this.$apollo.mutate({
        mutation: UPDATE_EVENT,
        variables: {
          data: {
            days: {
              update: {
                where: {
                  id: this.selectedDay.id
                },
                data: {
                  autopilot: {
                    set: value
                  }
                }
              }
            }
          },
          where: {
            id: this.selectedEvent.id
          }
        }
      })
    },
    async clearScore (mainNumberToClear) {
      await this.$apollo.mutate({
        mutation: CLEAR_SCORE,
        variables: {
          mainNumberToClear,
          dayId: this.selectedDay.id
        }
      })
    }
  }
}
</script>
