<template>
  <q-select
    :value="multiple?selectedCategories:selectedCategories[0]"
    :multiple="multiple"
    :disable="disable"
    label="Категория"
    :loading="loading"
    filled
    :use-chips="useChips"
    :options="categories || []"
    option-value="id"
    option-label="name"
    @input="onCategorySelect"
  >
    <template #option="scope">
      <template v-if="scope.opt.id===firstIndividualCategoryId">
        <q-separator />
        <q-item dense>
          <q-item-section>
            <q-item-label>
              Индивидуальные
            </q-item-label>
          </q-item-section>
        </q-item>
      </template>
      <template v-if="scope.opt.id===firstGroupCategoryId">
        <q-item dense />
        <q-separator />
        <q-item dense>
          <q-item-section>
            <q-item-label>
              Групповые
            </q-item-label>
          </q-item-section>
        </q-item>
      </template>
      <q-item
        v-bind="scope.itemProps"
        v-on="scope.itemEvents"
      >
        <q-item-section>
          <q-item-label>
            {{ scope.opt.name }}
          </q-item-label>
        </q-item-section>
      </q-item>
    </template>

    <template #selected-item="scope">
      <q-chip
        removable
        dense
        :tabindex="scope.tabindex"
        class="col-12 q-pa-xs"
        @remove="scope.removeAtIndex(scope.index)"
      >
        {{ scope.opt.name }}
      </q-chip>
    </template>
  </q-select>
</template>

<script>
import unknownError from 'src/mixins/unknownError'
export default {
  mixins: [unknownError],
  props: {
    loading: {
      type: Boolean,
      default: false
    },
    multiple: {
      type: Boolean,
      default: false
    },
    useChips: {
      type: Boolean,
      default: false
    },
    disable: {
      type: Boolean,
      default: false
    },
    individualGroupSeparate: {
      type: Boolean,
      default: true
    },
    selectedCategories: {
      type: Array,
      default: () => []
    },
    categories: {
      type: Array,
      default: () => []
    }
  },
  data () {
    return {
      isUpdateExportConfigOpened: false
    }
  },
  computed: {
    firstIndividualCategoryId () {
      return this.categories.find(category => category.type === 'INDIVIDUAL')?.id
    },
    firstGroupCategoryId () {
      return this.categories.find(category => category.type === 'GROUP')?.id
    }
  },
  methods: {
    onCategorySelect (toSelect) {
      if (!this.multiple) {
        this.$emit('update:selected-categories', [toSelect])
        return
      }
      if (!this.individualGroupSeparate) {
        this.$emit('update:selected-categories', toSelect)
        return
      }
      const onlyIndividual = category => category.type === 'INDIVIDUAL'
      const onlyGroup = category => category.type === 'GROUP'

      const isIndividualSelected = this.selectedCategories.some(onlyIndividual)
      const isGroupSelected = this.selectedCategories.some(onlyGroup)
      if (isIndividualSelected && toSelect.some(onlyGroup)) {
        this.$emit('update:selected-categories', toSelect.filter(onlyGroup))
      } else if (isGroupSelected && toSelect.some(onlyIndividual)) {
        this.$emit('update:selected-categories', toSelect.filter(onlyIndividual))
      } else {
        this.$emit('update:selected-categories', toSelect)
      }
    }
  }
}
</script>

<style></style>
