<template>
  <q-dialog
    :value="isOpen"
    :maximized="$q.platform.is.mobile"
    persistent
    :position="position"
    :seamless="seamless"
    @input="value=>$emit('update:is-open',value)"
    @hide="$emit('hide')"
    @show="$emit('show')"
  >
    <q-card class="col-auto">
      <q-card-section>
        <slot name="header">
          <div class="text-h6" />
        </slot>
      </q-card-section>

      <q-card-section>
        <q-form
          class="q-gutter-md"
          @submit="$emit('submit')"
        >
          <slot name="form">
            <q-input
              v-model="test"
              filled
              label="От кого"
              lazy-rules
              :rules="[ val => val && val.length > 0 || 'Заполните поле']"
            />
          </slot>
          <div>
            <slot
              :loading="loading"
              name="submit-btn"
            >
              <q-btn
                label="Ок"
                :disable="loading"
                type="submit"
                color="primary"
              />
            </slot>
            <slot
              :loading="loading"
              name="cancel-btn"
            >
              <q-btn
                v-close-popup
                :disable="loading"
                label="Отмена"
                color="primary"
                flat
                class="q-ml-sm"
              />
            </slot>
          </div>
        </q-form>
      </q-card-section>
    </q-card>
  </q-dialog>
</template>

<script>
export default {
  props: {
    isOpen: {
      type: Boolean,
      default: false
    },
    seamless: {
      type: Boolean,
      default: false
    },
    position: {
      type: String,
      default: 'standard'
    }
  },
  // name: 'ComponentName',
  data () {
    return {
      test: '',
      loading: false
    }
  }
}
</script>

<style>
</style>
