<template>
  <q-field
    v-model="isFilled"
    borderless
    :rules="[val => !!val || 'Заполните все поля']"
  >
    <template #control>
      <country-select
        label="Страна"
        :country="country"
        :countries="allCountries"
        @update:country="country=>$emit('update:country', country)"
      />
      <div class="col-12 q-py-xs" />
      <region-select
        label="Субъект РФ"
        :region="region"
        :regions="allRegions"
        @update:region="region=>$emit('update:region', region)"
      />
      <div class="col-12 q-py-xs" />
      <city-select
        label="Город"
        :city="city"
        @update:city="city=>$emit('update:city', city)"
      />
    </template>
  </q-field>
</template>

<script>
import unknownError from 'src/mixins/unknownError'
import CountrySelectComponent from 'src/components/commons/countrySelect'
import RegionSelectComponent from 'src/components/commons/regionSelect'
import CitySelectComponent from 'src/components/commons/citySelect'
import ALL_COUNTRIES from 'src/graphql/queries/allCountries.gql'
import ALL_CITIES from 'src/graphql/queries/allCities.gql'
import ALL_REGIONS from 'src/graphql/queries/allRegions.gql'
export default {
  components: {
    CountrySelect: CountrySelectComponent,
    RegionSelect: RegionSelectComponent,
    CitySelect: CitySelectComponent
  },
  mixins: [unknownError],
  props: {
    country: {
      type: Object,
      default: () => null
    },
    region: {
      type: Object,
      default: () => null
    },
    city: {
      type: Object,
      default: () => null
    }
  },
  apollo: {
    allCountries: {
      query: ALL_COUNTRIES,
      update: data => data.countries
    },
    allRegions: {
      query: ALL_REGIONS,
      update: data => data.regions
    },
    allCities: {
      query: ALL_CITIES,
      update: data => data.cities
    }
  },
  data () {
    return {

    }
  },
  computed: {
    isRussia () {
      if (!this.country) {
        return false
      }
      return this.country.name === 'Россия'
    },
    isFilled () {
      return !!(
        (this.isRussia && this.country && this.region && this.city) ||
        (!this.isRussia && this.country)
      )
    }

  },
  methods: {

  }
}
</script>

<style>
</style>
