<template>
  <ApolloMutation
    :mutation="require('src/graphql/mutations/upsertRegion.gql')"
    :update="updateCacheRegions"
    fetch-policy="network-only"
    @error="unknownError"
  >
    <template #default="{ mutate }">
      <q-select
        :value="region"
        :label="label"
        class="col-12"
        use-input
        hide-selected
        fill-input
        options-dense
        borderless
        hide-bottom-space
        dense
        :options="regions"
        option-value="id"
        input-debounce="0"
        :option-label="opt => opt === null ? '- Null -' : opt.name"
        @new-value="(...args)=>upsertValue(...args, regions, mutate)"
        @input="value=>$emit('update:region', value)"
        @filter="(val, update, abort)=>update()"
        @filter-abort="()=>{return null}"
      >
        <template #no-option>
          <q-item>
            <q-item-section class="text-grey">
              Субъект РФ не найден
            </q-item-section>
          </q-item>
        </template>
      </q-select>
    </template>
  </ApolloMutation>
</template>

<script>
import ALL_REGIONS from 'src/graphql/queries/allRegions.gql'
import unknownError from 'src/mixins/unknownError'
export default {
  mixins: [unknownError],
  props: {
    region: {
      type: Object,
      default: () => null
    },
    label: {
      type: String,
      default: ''
    },
    regions: {
      type: Array,
      default: () => []
    }
  },
  data () {
    return {

    }
  },
  methods: {
    async upsertValue (value, done, values, upsert) {
      if (value.length > 2) {
        if (!values.some(({ name }) => name === value)) {
          this.$q.dialog({
            title: `Создать новый субъект РФ "${value}"?`,
            cancel: true
          }).onOk(async () => {
            await upsert({ variables: { where: { name: value }, create: { name: value }, update: { name: { set: value } } } })
          })
        }
      }
    },
    getVariables (name = '') {
      return { where: { name: { contains: name, mode: 'insensitive' } } }
    },

    updateCacheRegions (store, { data: { upsertOneRegion } }) {
      const query = {
        query: ALL_REGIONS
      }
      const data = store.readQuery(query)
      data.regions.push(upsertOneRegion)
      store.writeQuery({
        ...query,
        data
      })
      this.$emit('update:region', upsertOneRegion)
    }
  }
}
</script>

<style>
</style>
