<template>
  <q-table
    ref="table"
    :title="title"
    :data="data"
    :columns="isSportsmanGroups?sportsmanGroupColumns:sportsmanColumns"
    :loading="loading"
    :pagination.sync="paginationData"
    :selected.sync="selectedData"
    :selection="selection"
    :row-key="rowKey"
    class="no-shadow bg-white"
    table-class="editable-table"
    hide-bottom
    dense

    :separator="separator"
  >
    <template #header="props">
      <q-tr>
        <q-th
          v-if="isHaveSelection"
          auto-width
          class="text-left"
        >
          <q-checkbox
            v-if="selection==='multiple'"
            :value="selectedData.length===data.length"
            @input="value=>value?selectedData=data:selectedData=[]"
          />
        </q-th>

        <q-th
          v-if="(isLocal || isDataNested || groupOfSportsmen) && (isEditable || isDataNested)"
          auto-width
        />
        <q-th
          v-if="isLocal && isDataNested"
          auto-width
        />
        <q-th
          v-for="col in props.cols"
          :key="col.name"
          :props="props"
          auto-width
        >
          {{ col.label }}
        </q-th>
        <q-th style="width:100%" />
      </q-tr>
    </template>
    <template #top>
      <div class="q-mr-sm q-table__title">
        {{ title }}
      </div>
      <slot
        :openCreateDialog="(()=>isCreateDialogOpened=true)"
        name="create"
      />
      <template v-if="selectedData.length>0">
        <slot
          :selected="selectedData"
          :openUpdateDialog="(()=>isUpdateDialogOpened=true)"
          name="update"
        />
        <slot
          :selected="selectedData"
          name="delete"
        />
      </template>
      <slot
        v-if="isCreateDialogOpened"
        :selected="selectedData"
        :closeCreateDialog="(()=>isCreateDialogOpened=false)"
        name="createDialog"
      />
      <slot
        v-if="isUpdateDialogOpened"
        :selected="selectedData"
        :closeUpdateDialog="closeUpdateDialog"
        name="updateDialog"
      />
    </template>

    <template #body="props">
      <q-tr
        :data-id="props.row.id"
        :props="props"
        :class="{'cursor-pointer':true, 'draggable':isDraggable}"
      >
        <q-td
          v-if="isEditable && isLocal"
          auto-width
        >
          <q-btn
            dense
            round
            flat
            icon="remove"
            @click="onLocalRemove(props.row.id)"
          />
        </q-td>
        <q-td
          v-if="isEditable && !isLocal && groupOfSportsmen"
          auto-width
        >
          <q-btn
            dense
            round
            flat
            icon="remove"
            @click="deleteSportsmanInSportsmanGroup(props.row, groupOfSportsmen)"
          />
        </q-td>
        <q-td
          v-if="isHaveSelection"
          auto-width
        >
          <q-checkbox v-model="props.selected" />
        </q-td>
        <q-td
          v-if="isDataNested"
          auto-width
          @click.stop.native="props.expand = !props.expand"
        >
          <q-btn
            dense
            round
            flat
            :icon="props.expand ? 'arrow_drop_up' : 'arrow_drop_down'"
          />
        </q-td>
        <q-td
          v-for="col in props.cols"
          :key="col.name"
          :props="props"
          auto-width
        >
          <template v-if="col.name==='country'">
            <country-select
              v-if="isEditable"
              :country="col.value"
              :countries="allCountries"
              @update:country="country=>onSportsmanGroupUpdate(props.row,col.name,country,isSportsmanGroups)"
            />
            <template v-else>
              {{ col.value ? col.value.name?col.value.name:col.value:'-' }}
            </template>
          </template>
          <template v-else-if="col.name==='region'">
            <region-select
              v-if="isEditable"
              :region="col.value"
              :regions="allRegions"
              @update:region="region=>onSportsmanGroupUpdate(props.row,col.name,region,isSportsmanGroups)"
            />
            <template v-else>
              {{ col.value ? col.value.name?col.value.name:col.value:'-' }}
            </template>
          </template>
          <template v-else-if="col.name==='city'">
            <city-select
              v-if="isEditable"
              :city="col.value"
              @update:city="city=>onSportsmanGroupUpdate(props.row,col.name,city,isSportsmanGroups)"
            />
            <template v-else>
              {{ col.value ? col.value.name?col.value.name:col.value:'-' }}
            </template>
          </template>
          <template v-else-if="col.name==='category'">
            <participant-category-select
              v-if="isEditable"
              :participant="props.row"
              :is-sportsman-group="isSportsmanGroups"
              :categories="categories"
              @update:category="category=>onSportsmanGroupUpdate(props.row,col.name,category,isSportsmanGroups)"
            />
            <template v-else>
              {{ col.value ? col.value.name?col.value.name:col.value:'-' }}
            </template>
          </template>
          <template v-else>
            {{ col.value }}

            <q-popup-edit
              v-if="isEditable && !col.readonly"
              v-model="temporaryFieldValue"
              buttons
              @before-show="temporaryFieldValue=col.value"
              @save="value=>onSportsmanGroupUpdate(props.row,col.name,value,isSportsmanGroups)"
            >
              <q-input
                v-model="temporaryFieldValue"
                dense
                autofocus
              />
            </q-popup-edit>
          </template>
        </q-td>
        <q-td style="width:100%" />
      </q-tr>

      <q-tr
        v-if="isDataNested"
        v-show="props.expand"
        :props="props"
        :data-id="props.row.id + '-nested'"
        :class="{'draggable':isDraggable,'ignore-draggable':true}"
      >
        <q-td colspan="100%">
          <sportsmen-groups-table
            v-if="sportsmenToCreate.length>0"
            :data.sync="sportsmenToCreate"
            :sportsman-columns="sportsmanTable.columnsShort"
            :loading="loading"
            selection="none"
            is-editable
            is-local
            separator="cell"
            @field-update="onFieldUpdate"
          >
            <template #create="{}">
              <q-btn
                flat
                icon="add"
                @click="addSportsmanToGroup(sportsmenToCreate)"
              />
              <q-btn
                flat
                icon="done"
                @click="createSportsmenInSportsmanGroup(sportsmenToCreate,props.row)"
              />
              <q-btn
                flat
                icon="close"
                @click="sportsmenToCreate=[]"
              />
            </template>
          </sportsmen-groups-table>
          <sportsmen-groups-table
            v-if="isLocal"
            :data.sync="props.row.sportsmen"
            :sportsman-columns="sportsmanTable.columnsShort"
            :loading="loading"
            selection="none"
            is-editable
            is-local
            separator="cell"
            @field-update="onFieldUpdate"
          >
            <template #create="{}">
              <q-btn
                flat
                icon="add"
                @click="addSportsmanToGroup(props.row.sportsmen)"
              />
            </template>
          </sportsmen-groups-table>

          <sportsmen-groups-table
            v-else
            :data="props.row.sportsmen"
            :sportsman-columns="sportsmanTable.columnsShort"
            :loading="loading"
            selection="none"
            :is-editable="isEditable"
            :group-of-sportsmen="props.row"
            @field-update="onFieldUpdate"
          >
            <template
              v-if="isEditable && sportsmenToCreate.length===0"
              #create="{}"
            >
              <q-btn
                flat
                icon="add"
                @click="addSportsmanToGroup(sportsmenToCreate)"
              />
            </template>
          </sportsmen-groups-table>
          <div v-if="props.row.sportsmen.length===0">
            Пусто
          </div>
        </q-td>
      </q-tr>
    </template>
  </q-table>
</template>

<script>
import Sortable from 'sortablejs'
import { uid } from 'quasar'

import { formatSportsmanToCreate } from 'src/utils/dataFormat'
import unknownError from 'src/mixins/unknownError'

import ALL_COUNTRIES from 'src/graphql/queries/allCountries.gql'
import ALL_REGIONS from 'src/graphql/queries/allRegions.gql'

import UPDATE_SPORTSMAN from 'src/graphql/mutations/updateSportsman.gql'
import UPDATE_SPORTSMAN_GROUP from 'src/graphql/mutations/updateSportsmanGroup.gql'

import CountrySelectComponent from 'src/components/commons/countrySelect'
import RegionSelectComponent from 'src/components/commons/regionSelect'
import CitySelectComponent from 'src/components/commons/citySelect'
import ParticipantCategorySelectComponent from 'src/components/commons/participantCategorySelect'
export default {
  name: 'SportsmenGroupsTable',
  components: {
    CountrySelect: CountrySelectComponent,
    RegionSelect: RegionSelectComponent,
    CitySelect: CitySelectComponent,
    ParticipantCategorySelect: ParticipantCategorySelectComponent
  },
  mixins: [unknownError],
  apollo: {
    allCountries: {
      query: ALL_COUNTRIES,
      update: data => data.countries
    },
    allRegions: {
      query: ALL_REGIONS,
      update: data => data.regions
    }
  },
  props: {
    data: {
      type: Array,
      default: () => []
    },
    categories: {
      type: Array,
      default: () => []
    },
    selected: {
      type: Array,
      default: () => []
    },
    selection: {
      type: String,
      default: 'multiple'
    },
    separator: {
      type: String,
      default: 'horizontal'
    },
    rowKey: {
      type: String,
      default: 'id'
    },
    isSportsmanGroups: {
      type: Boolean,
      default: false
    },
    groupOfSportsmen: {
      type: Object,
      default: () => null
    },
    isDraggable: {
      type: Boolean,
      default: false
    },
    isEditable: {
      type: Boolean,
      default: false
    },
    isLocal: {
      type: Boolean,
      default: false
    },
    loading: {
      type: Boolean,
      default: false
    },
    pagination: {
      type: Object,
      default: () => ({
        sortBy: 'numberInCategory',
        rowsPerPage: 0
      })
    },
    title: {
      type: String,
      default: ''
    },
    sportsmanColumns: {
      type: Array,
      default: () => [
        {
          name: 'numberInCategory',
          required: true,
          label: '#',
          align: 'left',
          field: 'numberInCategory'
        },
        {
          name: 'lastName',
          required: true,
          label: 'Фамилия',
          align: 'left',
          field: 'lastName'
        },
        {
          name: 'firstName',
          required: true,
          label: 'Имя',
          align: 'left',
          field: 'firstName'
        },
        {
          name: 'year',
          required: true,
          label: 'Год р.',
          align: 'left',
          field: 'year'
        },
        {
          name: 'rank',
          required: true,
          label: 'Разряд (имеет)',
          align: 'left',
          field: 'rank'
        },
        {
          name: 'trainers',
          required: true,
          label: 'Тренеры',
          align: 'left',
          field: 'trainers'
        },
        // {
        //   name: 'country',
        //   required: true,
        //   label: 'Страна',
        //   align: 'left',
        //   field: row => row.country
        // },
        {
          name: 'region',
          required: true,
          label: 'Субъект РФ',
          align: 'left',
          field: row => row.region
        },
        {
          name: 'city',
          required: true,
          label: 'Город',
          align: 'left',
          field: row => row.city
        },
        {
          name: 'club',
          required: true,
          label: 'Клуб, школа',
          align: 'left',
          field: 'club'
        }
      ]
    },

    sportsmanGroupColumns: {
      type: Array,
      default: () => [
        {
          name: 'numberInCategory',
          required: true,
          label: '#',
          align: 'left',
          field: 'numberInCategory'
        },
        {
          name: 'name',
          required: true,
          label: 'Название',
          align: 'left',
          field: 'name'
        },
        {
          name: 'trainers',
          required: true,
          label: 'Тренеры',
          align: 'left',
          field: 'trainers'
        },
        // {
        //   name: 'country',
        //   required: true,
        //   label: 'Страна',
        //   align: 'left',
        //   field: row => row.country
        // },
        {
          name: 'region',
          required: true,
          label: 'Субъект РФ',
          align: 'left',
          field: row => row.region
        },
        {
          name: 'city',
          required: true,
          label: 'Город',
          align: 'left',
          field: row => row.city
        },
        {
          name: 'club',
          required: true,
          label: 'Клуб, школа',
          align: 'left',
          field: 'club'
        }
      ]
    }
  },
  data () {
    return {
      isCreateDialogOpened: false,
      isUpdateDialogOpened: false,
      sortable: null,
      temporaryFieldValue: '',
      sportsmenToCreate: [],
      sportsmanTable: {
        columnsShort: [
          {
            name: 'numberInCategory',
            required: true,
            label: '#',
            align: 'left',
            field: 'numberInCategory'
          },
          {
            name: 'lastName',
            required: true,
            label: 'Фамилия',
            align: 'left',
            field: 'lastName'
          },
          {
            name: 'firstName',
            required: true,
            label: 'Имя',
            align: 'left',
            field: 'firstName'
          },
          {
            name: 'year',
            required: true,
            label: 'Год р.',
            align: 'left',
            field: 'year'
          },
          {
            name: 'rank',
            required: true,
            label: 'Разряд (имеет)',
            align: 'left',
            field: 'rank'
          },
          {
            name: 'trainers',
            required: true,
            label: 'Тренеры',
            align: 'left',
            field: 'trainers'
          }
        ]
      }
    }
  },
  computed: {
    paginationData: {
      get: function () {
        return this.pagination
      },
      set: function (value) {
        this.$emit('update:pagination', value)
      }
    },
    isHaveSelection () {
      return this.selection !== 'none'
    },
    isDataNested () {
      return this.isSportsmanGroups
    },
    selectedData: {
      get: function () {
        return this.selected
      },
      set: function (value) {
        this.$emit('update:selected', value)
      }
    }
  },
  watch: {
    data (newValue) {
      if (this.isDraggable) {
        this.$nextTick(() => {
          let order = newValue.slice().sort((a, b) => a.numberInCategory - b.numberInCategory).map(val => val.id)
          if (this.isDataNested) {
            order = order.reduce((order, item) => [...order, item, item + '-nested'], [])
          }
          this.sortable.sort(order)
        })
      }
    }
  },
  // updated () {
  //   if (this.isDraggable) {
  //     let order = this.data.slice().sort((a, b) => a.numberInCategory - b.numberInCategory).map(val => val.id)
  //     if (this.isDataNested) {
  //       order = order.reduce((order, item) => [...order, item, item + '-nested'], [])
  //     }
  //     this.sortable.sort(order)
  //   }
  // },
  mounted () {
    if (this.isDraggable) {
      this.sortable = Sortable.create(this.$refs.table.$el.getElementsByTagName('tbody')[0], {

        // onEnd: function (/** Event */evt) {
        //   console.log(evt)
        //   // evt.newIndex // most likely why this event is used is to get the dragging element's current index
        //   // // same properties as onEnd
        // },
        draggable: '.draggable',
        filter: '.ignore-draggable',
        store: {
          set: (sortable) => {
            let ids = sortable.toArray()
            if (this.isDataNested) {
              ids = ids.filter(id => !id.includes('-nested'))
            }
            this.$emit('on-drag-end', { order: ids.map(id => parseInt(id)) })
          }
        }
      })
    }
  },
  methods: {
    closeUpdateDialog () {
      this.isUpdateDialogOpened = false
      this.selectedData = []
    },
    async onSportsmanGroupUpdate (participant, field, value, isGroup = false) {
      this.temporaryFieldValue = ''
      if (this.isLocal) {
        this.$emit('field-update', {
          participant, field, value, isGroup
        })
        return
      }
      const isConnectUpdate = ['country', 'region', 'city', 'category'].includes(field)
      const data = {}
      if (isConnectUpdate) {
        data[field] = {
          connect: {
            id: value.id
          }
        }
      } else {
        data[field] = { set: field === 'numberInCategory' ? parseInt(value) : value }
      }
      await this.$apollo.mutate({
        mutation: isGroup ? UPDATE_SPORTSMAN_GROUP : UPDATE_SPORTSMAN,
        variables: {
          where: {
            id: participant.id
          },
          data
        }
      })
    },
    async deleteSportsmanInSportsmanGroup (sportsman, sportsmanGroup) {
      this.$q.dialog({
        title: `Удалить участника ${sportsman.lastName} ${sportsman.firstName} из группы ${sportsmanGroup.name}?`,
        cancel: true,
        'no-focus': true
      }).onOk(async () => {
        try {
          await this.$apollo.mutate({
            mutation: UPDATE_SPORTSMAN_GROUP,
            variables: {
              where: {
                id: sportsmanGroup.id
              },
              data: {
                sportsmen: {
                  delete: {
                    id: sportsman.id
                  }
                }
              }
            }
          })
        } catch (error) {
          this.unknownError(error)
        }
      })
    },
    async createSportsmenInSportsmanGroup (sportsmenToCreate, sportsmanGroup) {
      this.$q.dialog({
        title: `Создать участников (${sportsmenToCreate.length}) в группе ${sportsmanGroup.name}?`,
        cancel: true,
        'no-focus': true
      }).onOk(async () => {
        try {
          await this.$apollo.mutate({
            mutation: UPDATE_SPORTSMAN_GROUP,
            variables: {
              where: {
                id: sportsmanGroup.id
              },
              data: {
                sportsmen: {
                  create: sportsmenToCreate.map((sportsman, i) => formatSportsmanToCreate(sportsman, sportsmanGroup.sportsmen.length + i + 1))
                }
              }
            }
          })
          this.sportsmenToCreate = []
        } catch (error) {
          this.unknownError(error)
        }
      })
    },
    onFieldUpdate ({
      participant, field, value, isGroup
    }) {
      this.$emit('field-update', {
        participant, field, value, isGroup
      })
    },
    onLocalRemove (id) {
      this.$emit('update:data', this.data.filter((row) => row.id !== id))
    },
    addSportsmanToGroup (sportsmen) {
      sportsmen.push({
        id: uid(),
        numberInCategory: sportsmen.length + 1,
        lastName: '',
        firstName: '',
        year: '',
        rank: '',
        country: null,
        region: null,
        city: null,
        club: '',
        trainers: ''
      })
    }
  }
}
</script>

<style lang="stylus">
.editable-table tr:nth-child(even) {
  background: $grey-1;
}
</style>
