<template>
  <q-page padding>
    <ApolloQuery
      :query="require('src/graphql/queries/allEvents.gql')"
      @error="unknownError"
    >
      <template #default="{ result: { loading, error, data } }">
        <div v-if="error">
          Произошла ошибка {{ error }}
        </div>
        <event-list
          v-else
          :events="data?data.events:[]"
          :loading="loading"
        />
      </template>
    </ApolloQuery>
  </q-page>
</template>

<script>
import unknownError from 'src/mixins/unknownError'
import EventList from 'src/components/events/eventList.vue'
export default {
  // name: 'PageName',
  components: {
    EventList
  },
  mixins: [unknownError]
}
</script>

<style>
</style>
