<template>
  <q-page class="flex flex-center no-margin no-padding">
    <q-linear-progress
      :value="progressBarValue"
      size="40px"
      class="fixed-top"
      :color="progressBarValue>0?mainColor:'white'"
      track-color="white"
    />
    <q-page-sticky
      v-if="isJudgeSeatSelected"
      position="top-left"
      :offset="[18, 18]"
    >
      <q-btn
        round
        :color="mainColor"
        icon="arrow_back"
        @click="onDisconnect"
      />
    </q-page-sticky>
    <q-page-sticky
      position="top-right"
      :offset="[18, 18]"
    >
      <q-btn
        flat
        stretch
        :icon="$q.fullscreen.isActive ? 'fullscreen_exit' : 'fullscreen'"
        class="q-mr-sm"
        @click="$q.fullscreen.toggle()"
      />
    </q-page-sticky>

    <div
      v-if="!isJudgeSeatSelected"
      class="row flex-center"
    >
      <q-card
        v-for="panel in [1,2]"
        :key="panel"
        class="col-11 q-ma-md"
        flat
        bordered
      >
        <q-card-section class="text-center">
          <div class="text-center text-h4">
            Панель {{ panel }}
          </div>
        </q-card-section>
        <q-card-actions align="center">
          <q-btn
            v-for="judgeSeat in judgeSeatsWithConnected(panel,'d')"
            :key="judgeSeat.id"
            class="numpad-btn"
            :label="judgeSeat.type"
            :outline="!judgeSeat.isConnected"
            :color="panel===1?'primary':'secondary'"
            @click="selectJudgeSeat(judgeSeat)"
          />
        </q-card-actions>
        <q-card-actions align="center">
          <q-btn
            v-for="judgeSeat in judgeSeatsWithConnected(panel,'e')"
            :key="judgeSeat.id"
            class="numpad-btn"
            :label="judgeSeat.type"
            :outline="!judgeSeat.isConnected"
            :color="panel===1?'primary':'secondary'"
            @click="selectJudgeSeat(judgeSeat)"
          />
        </q-card-actions>
      </q-card>
    </div>
    <q-card
      v-show="isPreSubmit"
      class="col-auto"
      flat
      style="max-width:30em"
    >
      <q-card-section class="row justify-center items-center">
        <div class="text-h5 col-12 text-center ">
          Поставить оценку?
        </div>
        <div class="text-h2 text-center col-12">
          {{ newScore }}
        </div>
        <div class="text-h5 text-center col-12">
          {{ participantLabel }}
        </div>
        <q-btn
          outline
          class="numpad-btn col-5 q-ma-md"
          color="red"
          icon="highlight_off"
          @click="cancelSubmit"
        />
        <q-btn
          outline
          class="numpad-btn col-5 q-ma-md"
          :color="mainColor"
          icon="done"
          @click="ratePerformance"
        />
      </q-card-section>
    </q-card>
    <q-card
      v-if="judge"
      v-show="!isPreSubmit"
      flat
      class="q-pa-none q-ma-none"
      style="max-width:30em"
    >
      <q-card-section class="row">
        <div
          class="text-h5 text-center col-12"
          style="height:4rem"
        >
          Судья {{ type }}
        </div>
        <div
          class="text-h5 text-center col-12"
          style="height:4rem"
        >
          {{ participantLabel }}
        </div>
        <div class="text-h5 text-center col-12">
          {{ kindLabel }}
        </div>
      </q-card-section>

      <q-card-section
        v-if="performance && isShowNumPad"
      >
        <num-pad
          :performance="performance"
          :is-d34="isD34"
          :score.sync="newScore"
          :main-color="mainColor"
          @ok="preSubmit"
        />
      </q-card-section>
    </q-card>
  </q-page>
</template>

<script>
import unknownError from 'src/mixins/unknownError'
import JUDGE_SEATS from 'src/graphql/queries/judgeSeats.gql'
import JUDGE_CONNECTIONS from 'src/graphql/queries/judgeConnections.gql'
import RATE_PERFORMANCE from 'src/graphql/mutations/ratePerformance.gql'
import JUDGE_SEATS_UPDATED from 'src/graphql/subscriptions/judgeSeatsUpdated.gql'
import numPadComponent from 'src/components/scoring/numPad.vue'
export default {
  name: 'PageJudge',
  components: {
    numPad: numPadComponent
  },
  mixins: [unknownError],
  apollo: {
    judgeSeats: {
      query: JUDGE_SEATS,
      variables () {
        return {
          where: {
            event: {
              state: {
                equals: 'OPENED'
              }
            },
            panel: {
              equals: this.panel
            },
            type: {
              equals: this.type
            }
          }
        }
      },
      subscribeToMore: {
        document: JUDGE_SEATS_UPDATED,
        variables () {
          return {
            judgeSeatId: this.judge?.id
          }
        },
        updateQuery (previousResult, { subscriptionData }) {
          this.newScore = ''
          this.isWaitingNextPerformance = false
        },
        skip () {
          return !this.isJudgeSeatSelected
        }
      }
    },
    judgeConnections: {
      query: JUDGE_CONNECTIONS
    }
  },
  data () {
    return {
      panel: null,
      type: null,
      newScore: '',
      isPreSubmit: false,
      isWaitingNextPerformance: false,
      progressBarValue: 0.0,
      progressBarInterval: null,
      progressBarTime: 4000
    }
  },
  computed: {
    isJudgeSeatSelected () {
      return this.panel && this.type
    },
    mainColor () {
      return this.panel === 'PANEL_2' ? 'secondary' : 'primary'
    },
    judge () {
      return this.isJudgeSeatSelected ? this.judgeSeats.find(judgeSeat => judgeSeat.type === this.type && judgeSeat.panel === this.panel) : null
    },
    performance () {
      return this.judge?.currentPerformance
    },
    isSportsmanGroup () {
      return !!this.performance?.sportsmanGroup
    },
    isD2 () {
      return this.type === 'd2'
    },
    isD4 () {
      return this.type === 'd4'
    },
    isD34 () {
      return this.type === 'd3_4' || this.type === 'd3' || this.type === 'd4'
    },
    participantLabel () {
      return this.performance
        ? `${this.performance.numberInRotation}, ${this.isSportsmanGroup ? (this.performance.sportsmanGroup?.name ?? this.performance.id) : ((this.performance.sportsman?.lastName ?? this.performance.id) + ' ' + (this.performance.sportsman?.firstName ?? ''))}`
        : ''
    },
    kindLabel () {
      return this.performance ? this.performance.kind.name : ''
    },
    isIndividualWithoutApparatus () {
      return !this.isSportsmanGroup && !this.performance?.kind?.isApparatus
    },
    isShowNumPad () {
      return this.isIndividualWithoutApparatus || (!this.isD2 && !this.isD4)
    }
  },
  beforeDestroy () {
    this.cancelProgressBar()
  },
  methods: {
    async onDisconnect () {
      await this.$apollo.queries.judgeConnections.refetch()
      this.$apollo.queries.judgeSeats.sub.unsubscribe()
      this.panel = null
      this.type = null
    },
    selectJudgeSeat ({ panel, type }) {
      this.panel = panel
      this.type = type
    },
    judgeSeatsWithConnected (panel, type) {
      const judgeSeats = (this.judgeSeats ?? []).filter(judgeSeat => judgeSeat.panel === `PANEL_${panel}` && judgeSeat.type[0] === type)
      return judgeSeats.map(judgeSeat => ({
        ...judgeSeat,
        isConnected: this.judgeConnections?.some(judgeConnection => judgeConnection.judgeSeatId === judgeSeat.id)
      }))
    },
    preSubmit () {
      if (this.newScore[this.newScore.length - 1] === '.') {
        this.newScore += '0'
      }
      this.isPreSubmit = true

      this.progressBarInterval = setInterval(() => {
        if (this.progressBarValue >= 1) {
          this.progressBarValue = 0.00
          this.cancelProgressBar()
          this.ratePerformance()
          return
        }

        this.progressBarValue = this.progressBarValue + 0.02
      }, this.progressBarTime / 50)
    },
    cancelSubmit () {
      this.isPreSubmit = false
      this.cancelProgressBar()
    },
    cancelProgressBar () {
      this.progressBarValue = 0.00
      clearInterval(this.progressBarInterval)
    },
    async ratePerformance () {
      this.cancelProgressBar()
      try {
        await this.$apollo.mutate({
          mutation: RATE_PERFORMANCE,
          variables: {
            id: this.performance.id,
            type: this.type,
            point: parseFloat(this.newScore.length > 0 ? this.newScore : '0.0')
          }
        })
        this.isPreSubmit = false
        this.newScore = ''
      } catch (error) {
        this.unknownError(error)
      }
    }
  }
}
</script>

<style lang="stylus">
.numpad-td {
  padding: 0 !important;
  text-align: center;
}

.numpad-btn {
  height: 8rem;
  width: 8rem;
  font-size: 3em;
}

.numpad-btn--point {
  height: 6rem;
  width: 6rem;
  font-size: 3em;
}
</style>
