<template>
  <q-page>
    <!-- <q-page-sticky
      position="top-left"
      :offset="[18, 18]"
      class="z-top"
    >
      <q-fab
        v-model="isFabMenuOpen"
        icon="keyboard_arrow_right"
        direction="right"
        color="primary"
      >
        <q-select
          v-if="selectedEvent"
          v-model="selectedDay"
          label="День"
          :loading="$apollo.queries.events.loading"
          filled
          :options="selectedEvent.days"
          option-value="id"
          :option-label="opt=>formatDate(opt.date, 'DD.MM.YYYY')"
          bg-color="white"
          @popup-hide="isFabMenuOpen=false"
        />
      </q-fab>
    </q-page-sticky> -->
    <score-update-dialog
      v-if="scoreUpdateDialog.isOpened"
      :performance="scoreUpdateDialog.performance"
      :score-type="scoreUpdateDialog.scoreType"
      @hide="scoreUpdateDialogOnHide"
    />

    <scoring-judge-panel
      v-if="selectedDay"
      :event="selectedEvent"
      :day="selectedDay"
      :performances-page-size="$options.performancesPageSize"
      :css-style="isTwoJudgePanel?'max-height: 49vh;min-height: 49vh':'max-height: 94vh;min-height: 94vh'"
      panel="PANEL_1"
      color="primary"
      @score-click="openScoreUpdateDialog"
    />
    <scoring-judge-panel
      v-if="selectedDay && isTwoJudgePanel"
      :event="selectedEvent"
      :day="selectedDay"
      :performances-page-size="$options.performancesPageSize"
      :css-style="'max-height: 45vh;min-height: 45vh'"
      panel="PANEL_2"
      color="secondary"
      @score-click="openScoreUpdateDialog"
    />
  </q-page>
</template>

<script>
import unknownError from 'src/mixins/unknownError'
import ScoreUpdateDialogComponent from 'src/components/scoring/scoreUpdateDialog'
import ScoringJudgePanelComponent from 'src/components/scoring/scoringJudgePanel'
import DAY_PERFORMANCES_CONNECTION from 'src/graphql/queries/dayPerformancesConnection.gql'
import ALL_EVENTS from 'src/graphql/queries/allEvents.gql'
import EVENT_UPDATED from 'src/graphql/subscriptions/eventUpdated.gql'
import { date } from 'quasar'
const { getDateDiff } = date
export default {
  // name: 'PageName',
  components: {
    ScoreUpdateDialog: ScoreUpdateDialogComponent,
    ScoringJudgePanel: ScoringJudgePanelComponent
  },
  mixins: [unknownError],
  performancesPageSize: 15,
  props: {
    selectedEvent: {
      type: Object,
      default: () => null
    },
    selectedDay: {
      type: Object,
      default: () => null
    },
    daysLoading: {
      type: Boolean,
      default: true
    }
  }, // read only
  data () {
    return {
      isTwoJudgePanel: false,
      isFabMenuOpen: false,
      scoreUpdateDialog: {
        performance: null,
        scoreType: null,
        isOpened: false
      }
    }
  },

  apollo: {
    events: {
      query: ALL_EVENTS,
      watchLoading (isLoading) {
        this.$emit('update:days-loading', isLoading)
      },
      result (result) {
        if (!this.selectedEvent) {
          const selectedEvent = result?.data?.events?.find(event => event.state === 'OPENED') ?? null
          this.$emit('update:selected-event', selectedEvent)
          const today = new Date()
          this.$emit('update:selected-day', selectedEvent.days.reduce((closestDay, day) => {
            return (closestDay && Math.abs(getDateDiff(today, day.date, 'days')) > Math.abs(getDateDiff(today, closestDay.date, 'days'))) ? closestDay : day
          }, null))
        }
      },
      error (error) {
        this.unknownError(error)
      },
      subscribeToMore: {
        document: EVENT_UPDATED,
        variables () {
          return {
            eventId: this.selectedEvent.id
          }
        },
        skip () {
          return !this.selectedEvent
        },
        updateQuery (previousResult, { subscriptionData }) {
          this.$emit('update:selected-event', subscriptionData.data.eventUpdated)
          this.$emit('update:selected-day', subscriptionData.data.eventUpdated.days.find(day => day.id === this.selectedDay.id))
        }
      }
    },
    performancesConnection: {
      query: DAY_PERFORMANCES_CONNECTION,
      fetchPolicy: 'network-only',
      variables () {
        return {
          first: 1,
          where: {
            day: {
              id: {
                equals: this.selectedDay.id
              }
            },
            judgePanel: {
              equals: 'PANEL_2'
            }

          }
        }
      },
      skip () {
        return !this.selectedDay
      },
      result (result) {
        this.isTwoJudgePanel = result?.data?.performancesConnection?.edges?.length > 0
      },
      error (error) {
        this.unknownError(error)
      }
    }
  },
  methods: {
    async openScoreUpdateDialog ({ score, performance }) {
      this.scoreUpdateDialog.performance = performance
      this.scoreUpdateDialog.scoreType = score
      this.scoreUpdateDialog.isOpened = true
    },
    scoreUpdateDialogOnHide () {
      this.scoreUpdateDialog.isOpened = false
      this.scoreUpdateDialog.performance = null
      this.scoreUpdateDialog.scoreType = null
    }
  }
}
</script>

<style>
</style>
