<template>
  <q-page padding>
    <notifications
      group="marks"
      :max="1"
      position="top center"
      width="1800px"
      animation-type="velocity"
      :animation="animation"
    >
      <template
        slot="body"
        slot-scope="props"
      >
        <notify-marks :performance="props.item.data" />
      </template>
    </notifications>
  </q-page>
</template>

<script>

import NotifyMarksComponent from 'components/screen/NotifyMarks'
import PERFORMANCE_SHOWED from 'src/graphql/subscriptions/performanceShowed.gql'
import ALL_EVENTS from 'src/graphql/queries/allEvents.gql'

export default {

  components: {
    NotifyMarks: NotifyMarksComponent
  },
  data () {
    return {
      animation: {
        enter (element) {
          /*
            *  "element" - is a notification element
            *    (before animation, meaning that you can take it's initial height, width, color, etc)
            */
          const height = element.clientHeight

          return {
            // Animates from 0px to "height"
            height: [height, 0],

            // Animates from 0 to random opacity (in range between 0.5 and 1)
            opacity: [1, 0]
          }
        },
        leave: {
          height: 0,
          opacity: 0
        }
      }
    }
  },
  apollo: {
    events: {
      query: ALL_EVENTS
    },
    $subscribe: {
      performanceShowed: {
        query: PERFORMANCE_SHOWED,
        variables () {
          return {
            eventId: this.selectedEvent.id
          }
        },
        result ({ data }) {
          if (data.performanceShowed) {
            this.showMark({
              data: data.performanceShowed,
              duration: 15 * 1000
            })
          }
        },
        skip () {
          return !this.selectedEvent
        }
      }
    }
  },
  computed: {
    selectedEvent () {
      return this.events?.find(event => event.state === 'OPENED') ?? null
    }
  },
  methods: {
    showMark ({ data, duration }) {
      this.$notify({
        group: 'marks',
        title: 'Оценки',
        text: 'Текст',
        data,
        duration
      })
    }
  }
}

</script>
