<template>
  <q-markup-table>
    <thead class="text-left">
      <tr>
        <th colspan="4">
          <div class="row no-wrap">
            <q-select
              v-model="filter.regions"
              class="col-12"
              filled
              label="Субъект РФ"
              :options="allRegions"
              multiple
              option-value="id"
              option-label="name"
            />
          </div>
          <div class="row no-wrap">
            <q-select
              v-model="filter.cities"
              class="col-12"
              filled
              label="Город"
              :options="allCities"
              multiple
              option-value="id"
              option-label="name"
            />
          </div>
          <div class="row no-wrap">
            <q-select
              v-model="filter.trainers"
              label="Тренеры"
              filled
              use-input
              use-chips
              multiple
              hide-dropdown-icon
              input-debounce="0"
              new-value-mode="add"
              class="col-12"
            />
          </div>
          <div class="row no-wrap">
            <q-option-group
              v-model="filter.participantTypes"
              inline
              :options="participantTypesOptions"
              type="checkbox"
            />
          </div>
          <div class="row no-wrap">
            <q-btn
              color="primary"
              label="Подгрузить"
              @click="loadParticipants"
            />
          </div>
          <div class="row no-wrap q-pa-sm">
            <div class="col-auto">
              Выходов: {{ subRotationsCount }}
            </div>
            <div class="col">
              <q-btn
                size="xs"
                round
                color="primary"
                icon="remove"
                class="q-ml-sm"
                :disable="subRotationsCount===1"
                @click="removeSubRotation"
              />
              <q-btn
                size="xs"
                round
                color="primary"
                icon="add"
                class="q-ml-sm"
                :disable="subRotationsCount===4"
                @click="addSubRotation"
              />
            </div>
          </div>
          <div class="row no-wrap">
            <q-btn
              color="primary"
              label="Создать"
              @click="$emit('create',getSubRotations())"
            />
          </div>
        </th>
      </tr>
      <tr>
        <th>
          #
        </th>
        <th>
          Участник
        </th>
        <th>
          Категория
        </th>
        <th style="width:100%">
          Выход
        </th>
        <!-- <th>
                  Судейская панель
                </th> -->
        <!-- <th>
                  Балл
                </th> -->
        <!-- <th style="width:100%">
                  id участника
                </th> -->
      </tr>
    </thead>
    <draggable
      v-model="rowsForPrint"
      tag="tbody"
      handle=".handle-row"
    >
      <tr
        v-for="(row, rowIndex) in rowsForPrint"
        :key="rowIndex"
        :data-rowId="rowIndex"
        clickable
        class="draggable-row"
      >
        <td>
          <q-btn
            unelevated
            padding="none"
            color="red"
            icon="delete"
            @click="deleteRow(rowIndex)"
          />
          <q-btn
            unelevated
            class="q-ml-lg"
            padding="none"
            icon="content_copy"
            @click="copyRow(rowIndex)"
          />
          <q-btn
            unelevated
            padding="none"
            class="handle-row q-ml-sm"
            icon="drag_indicator"
          />
          {{ rowIndex+1 }}
        </td>
        <td>
          {{ formatParticipant(row.participant) }}
        </td>
        <td>
          {{ row.participant.category.name }}
        </td>
        <td
          class="draggable-row-td"
          :data-rowId="rowIndex"
        >
          <q-chip
            v-for="(performance, performanceIndex) in row.performances"
            :key="performanceIndex"
            style="width:200px"
            class="q-p-none"
          >
            <q-avatar
              :color="performance.judgePanel === 'PANEL_1'?'primary':'secondary'"
              text-color="white"
              class="cursor-pointer"
              :class="{'invisible':!performance.kind}"
            >
              {{ performance.judgePanel === 'PANEL_1'?1:2 }}

              <q-popup-edit v-model="performance.judgePanel">
                <template #default>
                  <q-option-group
                    v-model="performance.judgePanel"
                    :options="judgePanelOptions"
                    type="radio"
                    inline
                    dense
                  />
                </template>
              </q-popup-edit>
            </q-avatar>
            <q-select
              clearable
              style="width:150px"
              :value="performance.kind"
              :options="row.availableKinds"
              option-label="name"
              option-value="id"
              options-dense
              borderless
              hide-bottom-space
              dense
              @input="setKind(performance,$event)"
            />
            <q-space />
          </q-chip>
        </td>
      </tr>
    </draggable>
  </q-markup-table>
</template>

<script>
import { extend } from 'quasar'
import draggable from 'vuedraggable'
import unknownError from 'src/mixins/unknownError'
import ALL_REGIONS from 'src/graphql/queries/allRegions.gql'
import ALL_CITIES from 'src/graphql/queries/allCities.gql'
import PARTICIPANTS from 'src/graphql/queries/participants.gql'
export default {
  components: {
    draggable
  },
  mixins: [unknownError],
  props: {
    event: {
      type: Object,
      default: () => null
    }
  },
  data () {
    return {
      rowsForPrint: [],
      filter: {
        regions: [],
        cities: [],
        trainers: [],
        participantTypes: ['sportsmen', 'sportsmanGroups']
      },
      participantTypesOptions: [
        {
          label: 'Инд',
          value: 'sportsmen'
        },
        {
          label: 'Групп',
          value: 'sportsmanGroups'
        }
      ],
      subRotationsCount: 1,
      judgePanelOptions: [
        {
          label: '1',
          value: 'PANEL_1'
        },
        {
          label: '2',
          value: 'PANEL_2'
        }
      ]
    }
  },
  apollo: {

    allRegions: {
      query: ALL_REGIONS,
      update: data => data.regions,
      error (error) {
        this.unknownError(error)
      }
    },
    allCities: {
      query: ALL_CITIES,
      update: data => data.cities,
      error (error) {
        this.unknownError(error)
      }
    }
  },
  computed: {
    isIndividualFilter () {
      return this.filter.participantTypes.includes('sportsmen')
    },
    isGroupFilter () {
      return this.filter.participantTypes.includes('sportsmanGroups')
    }
  },
  methods: {
    getSubRotations () {
      let numberInRotation = 1
      return [...Array(this.subRotationsCount)].map((_, subRotationIndex) => {
        return {
          performances: this.rowsForPrint.reduce((performances, row) => {
            if (row.performances[subRotationIndex]?.kind) {
              const performance = row.performances[subRotationIndex]
              const participant = row.participant
              performances.push({
                mainNumber: numberInRotation,
                numberInRotation: numberInRotation++,
                judgePanel: performance.judgePanel,
                [participant.category.type === 'GROUP' ? 'sportsmanGroup' : 'sportsman']: participant,
                kind: performance.kind,
                score: {}
              })
            }
            return performances
          }, [])
        }
      })
    },
    async loadParticipants () {
      const regionFilter = this.filter.regions.length > 0
        ? {
            id: {
              in: this.filter.regions.map(region => region.id)
            }
          }
        : undefined
      const cityFilter = this.filter.cities.length > 0
        ? {
            id: {
              in: this.filter.cities.map(city => city.id)
            }
          }
        : undefined
      const trainersFilter = this.filter.trainers.length > 0
        ? this.filter.trainers.map(trainer => ({
            trainers: {
              contains: trainer,
              mode: 'insensitive'
            }
          }))
        : undefined
      const { data } = await this.$apollo.query({
        query: PARTICIPANTS,
        fetchPolicy: 'network-only',
        variables: {
          whereSportsman: {
            region: regionFilter,
            city: cityFilter,
            OR: trainersFilter,
            category: {
              type: {
                equals: 'INDIVIDUAL'
              },
              events: {
                some: {
                  id: {
                    equals: this.event?.id
                  }
                }
              }
            }
          },
          whereSportsmanGroup: {
            region: regionFilter,
            city: cityFilter,
            OR: trainersFilter,
            category: {
              events: {
                some: {
                  id: {
                    equals: this.event?.id
                  }
                }
              }
            }
          }
        }
      })
      const newParticipants = [
        ...(this.isIndividualFilter ? data.sportsmen.sort((a, b) => (new Date(b.category.createdAt) - new Date(a.category.createdAt))) : []),
        ...(this.isGroupFilter ? data.sportsmanGroups.sort((a, b) => (new Date(b.category.createdAt) - new Date(a.category.createdAt))) : [])
      ].filter(({ id }) =>
        !this.rowsForPrint.some(row => row.participant.id === id)
      )
      this.rowsForPrint = [...this.rowsForPrint, ...newParticipants.map(participant => ({
        participant,
        performances: this.generatePerformances(this.subRotationsCount),
        availableKinds: participant.category.kinds
      }))]
    },
    formatParticipant ({ lastName, firstName, name }) {
      return name ?? `${lastName ?? ''} ${firstName ?? ''}`
    },
    removeSubRotation () {
      if (this.subRotationsCount === 1) {
        return
      }
      this.subRotationsCount--
      this.rowsForPrint.forEach(row => {
        row.performances.splice(this.subRotationsCount, 1)
      })
    },
    addSubRotation () {
      if (this.subRotationsCount === 4) {
        return
      }
      this.subRotationsCount++
      this.rowsForPrint.forEach(row => {
        row.performances.push(...this.generatePerformances(1))
      })
    },
    setKind (performance, kind) {
      performance.kind = kind
    },
    deleteRow (rowIndex) {
      this.rowsForPrint.splice(rowIndex, 1)
    },
    copyRow (rowIndex) {
      const participant = extend(true, {}, this.rowsForPrint[rowIndex].participant)
      this.rowsForPrint = [
        ...this.rowsForPrint.slice(0, rowIndex + 1),
        {
          participant,
          performances: this.generatePerformances(this.subRotationsCount),
          availableKinds: participant.category.kinds
        },
        ...this.rowsForPrint.slice(rowIndex + 1)
      ]
    },
    generatePerformances (count) {
      return [...Array(count)].map(_ => ({
        kind: null,
        judgePanel: 'PANEL_1'
      }))
    }
  }

}
</script>

<style>
</style>
