<template>
  <tr>
    <td>
      <div
        class="score-cell"
        style="width:5rem"
      >
        {{ formatDate(performance.day.date, 'DD.MM.YYYY') }}
      </div>
    </td>
    <td>
      <div
        class="score-cell"
        style="width:1rem"
      >
        {{ performance.mainNumber }}
      </div>
    </td>
    <td class="text-center">
      <div
        class="score-cell"
        style="width:5rem"
      >
        {{ performance.kind.name }}
      </div>
    </td>
    <template v-if="isIndividualWithoutApparatus">
      <td>
        <q-btn
          class="score-btn bg-white"
          outline
          :label="performance.score.d1"
          @click="$emit('score-click',{performance, score:'d1'})"
        />
      </td>
      <td>
        <q-btn
          class="score-btn bg-white"
          outline
          :label="performance.score.d2"
          @click="$emit('score-click',{performance, score:'d2'})"
        />
      </td>
      <td>
        <q-btn
          class="score-btn bg-white"
          outline
          :label="performance.score.d3"
          @click="$emit('score-click',{performance, score:'d3'})"
        />
      </td>
      <td>
        <q-btn
          class="score-btn bg-white"
          outline
          :label="performance.score.d4"
          @click="$emit('score-click',{performance, score:'d4'})"
        />
      </td>
    </template>
    <template v-else>
      <td
        colspan="2"
      >
        <q-btn
          class="score-btn bg-white"
          outline
          :label="performance.score.d1"
          @click="$emit('score-click',{performance, score:'d1_2'})"
        />
      </td>
      <td
        colspan="2"
      >
        <q-btn
          class="score-btn bg-white"
          outline
          :label="performance.score.d3"
          @click="$emit('score-click',{performance, score:'d3_4'})"
        />
      </td>
    </template>
    <td>
      <div class="score-cell">
        {{ performance.score.finalD !== null ? performance.score.finalD : '-' }}
      </div>
    </td>
    <td>
      <q-btn
        class="score-btn bg-white"
        outline
        :label="performance.score.e1_2"
        @click="$emit('score-click',{performance, score:'e1_2'})"
      />
    </td>
    <td>
      <q-btn
        class="score-btn bg-white"
        outline
        :label="performance.score.e3"
        @click="$emit('score-click',{performance, score:'e3'})"
      />
    </td>
    <td>
      <q-btn
        class="score-btn bg-white"
        outline
        :label="performance.score.e4"
        @click="$emit('score-click',{performance, score:'e4'})"
      />
    </td>
    <td>
      <q-btn
        class="score-btn bg-white"
        outline
        :label="performance.score.e5"
        @click="$emit('score-click',{performance, score:'e5'})"
      />
    </td>
    <td>
      <q-btn
        class="score-btn bg-white"
        outline
        :label="performance.score.e6"
        @click="$emit('score-click',{performance, score:'e6'})"
      />
    </td>
    <td>
      <div class="score-cell">
        {{ performance.score.finalE !== null ? formatScore(performance.score.finalE) : '-' }}
      </div>
    </td>
    <td>
      <q-btn
        class="score-btn bg-white"
        outline
        :label="performance.score.finalPenalty"
        @click="$emit('score-click',{performance, score:'finalPenalty'})"
      />
    </td>
    <td>
      <div class="score-cell">
        {{ performance.score.finalScore !== null ? formatScore(performance.score.finalScore) : '-' }}
      </div>
    </td>
  </tr>
</template>

<script>
import { date } from 'quasar'
import { formatScore } from 'src/utils/dataFormat'
const { formatDate } = date
export default {
  props: {
    performance: {
      type: Object,
      default: () => null
    },
    isGroup: {
      type: Boolean,
      default: false
    }
  },
  data () {
    return {}
  },
  computed: {
    isIndividualWithoutApparatus () {
      return !this.isGroup && !this.performance.kind.isApparatus
    }
  },
  methods: {
    formatScore (score) {
      return formatScore(score)
    },
    formatDate (date, format) {
      return formatDate(date, format)
    }
  }
}
</script>

<style lang="stylus">

.score-btn {
  width: 3em;
}

.score-cell {
  width: 3em;
  font-size: $button-font-size;
  font-weight: $button-font-weight;
}
</style>
