<template>
  <q-table
    :columns="isSportsmanGroups?sportsmanGroupColumns:sportsmenColumns"
    :data="isSportsmanGroups?sportsmanGroupsResults:sportsmenResults"
    :pagination.sync="resultPagination"
    :rows-per-page-options="[0]"
    :loading="loading"
    title="Результаты"
    dense
    row-key="id"
  >
    <template #top="props">
      <div class="col">
        <q-option-group
          :options="kindColumnsOptions"
          :value="visibleKindColumnsNames"
          type="toggle"
          inline
          dense
          @input="toggleKindColumns"
        />
      </div>
      <div class="col-auto">
        <q-checkbox
          v-model="isShowEmpty"
          label="Без оценок"
        />
      </div>

      <q-btn
        flat
        label="Скачать"
        icon="cloud_download"
        @click="isSportsmanGroups?$emit('group-export-report',dataGroupToExport):$emit('individual-export-report',dataIndividualToExport)"
      />
      <q-btn
        v-if="isSportsmanGroups"
        class="q-ml-md"
        flat
        label="Скачать сокр."
        icon="cloud_download"
        @click="$emit('group-short-export-report',dataGroupShortToExport)"
      />
      <q-btn
        :icon="props.inFullscreen ? 'fullscreen_exit' : 'fullscreen'"
        class="q-ml-md"
        flat
        @click="props.toggleFullscreen"
      />
    </template>
    <template #header="props">
      <q-tr :props="props">
        <q-th auto-width>
          #
        </q-th>
        <q-th
          v-for="col in props.cols"
          :key="col.name"
          :props="props"
        >
          {{ col.label }}
        </q-th>
      </q-tr>
    </template>

    <template #body="props">
      <q-tr
        :props="props"
        class="cursor-pointer"
        @click.stop.native="props.expand = !props.expand"
      >
        <q-td auto-width>
          {{ props.rowIndex +1 }}
        </q-td>
        <q-td
          v-for="col in props.cols"
          :key="col.name"
          :props="props"
        >
          {{ col.value }}
        </q-td>
      </q-tr>

      <q-tr
        v-if="props.row.performances.length>0"
        v-show="props.expand"
        :props="props"
        no-hover
      >
        <q-td colspan="100%">
          <tr>
            <th>
              День
            </th>
            <th>
              #
            </th>
            <th>
              Вид
            </th>
            <th class="text-center">
              D1
            </th>
            <th class="text-center">
              D2
            </th>
            <th class="text-center">
              D3
            </th>
            <th class="text-center">
              D4
            </th>
            <th>
              D
            </th>
            <th>
              E1-E2
            </th>
            <th>
              E3
            </th>
            <th>
              E4
            </th>
            <th>
              E5
            </th>
            <th>
              E6
            </th>
            <th>
              E
            </th>
            <th>
              Сбавка
            </th>
            <th>
              Итоговая
            </th>
          </tr>
          <performance-row-result
            v-for="performance in props.row.performances"
            :key="performance.id"
            :is-group="props.row.category.type==='GROUP'"
            :performance="performance"
          />
        </q-td>
      </q-tr>

      <q-tr
        v-show="props.expand"
        :props="props"
      >
        <q-td colspan="100%">
          <q-tr
            v-for="sportsman in props.row.sportsmen"
            :key="sportsman.id"
          >
            <q-td>
              {{ sportsman.fullName }}
            </q-td>
            <q-td>
              {{ sportsman.year }}
            </q-td>
            <q-td>
              {{ sportsman.rank }}
            </q-td>
            <q-td>
              {{ sportsman.trainers }}
            </q-td>
          </q-tr>
        </q-td>
      </q-tr>
    </template>
  </q-table>
</template>

<script>
import { formatScore } from 'src/utils/dataFormat'
import performanceRowResultComponent from 'src/components/results/performanceRowResult.vue'
export default {
  components: {
    PerformanceRowResult: performanceRowResultComponent
  },
  props: {
    sportsmen: {
      type: Array,
      default: () => []
    },
    sportsmanGroups: {
      type: Array,
      default: () => []
    },
    category: {
      type: Object,
      default: () => null
    },
    loading: {
      type: Boolean,
      default: false
    },
    event: {
      type: Object,
      default: () => null
    }
  },
  data () {
    return {
      resultPagination: {
        rowsPerPage: 0,
        sortBy: 'place'
      },
      hiddenKindColumns: [],
      isShowEmpty: true

    }
  },
  computed: {
    isSportsmanGroups () {
      return this.sportsmanGroups.length > 0
    },
    visibleKindColumnsNames () {
      return this.visibleKindsColumns.map(kind => kind.name)
    },
    kindColumnsOptions () {
      return this.kindsColumns
        .map(kindColumn => ({
          label: kindColumn.label,
          value: kindColumn.name
        }))
    },
    sportsmenColumns () {
      return [
        {
          name: 'fullName',
          required: true,
          label: 'ФИО',
          align: 'left',
          field: 'fullName',
          sortable: true,
          classes: 'fitwidth'
        },
        {
          name: 'year',
          required: true,
          label: 'Год рождения',
          align: 'left',
          field: row => (new Date(row.year)).getFullYear(),
          sortable: true,
          classes: 'fitwidth'
        },
        {
          name: 'rank',
          required: true,
          label: 'Разряд',
          align: 'left',
          field: 'rank',
          sortable: true,
          classes: 'fitwidth'
        },
        {
          name: 'region',
          required: true,
          label: 'Субъект РФ',
          align: 'left',
          field: row => row.region ? row.region.name : '',
          sortable: true,
          classes: 'fitwidth'
        },
        {
          name: 'city',
          required: true,
          label: 'Город',
          align: 'left',
          field: row => row.city ? row.city.name : '',
          sortable: true,
          classes: 'fitwidth'
        },
        {
          name: 'club',
          required: true,
          label: 'Клуб',
          align: 'left',
          field: 'club',
          sortable: true,
          classes: 'fitwidth'
        },
        {
          name: 'trainers',
          required: true,
          label: 'Тренеры',
          align: 'left',
          field: 'trainers',
          sortable: true,
          classes: 'fitwidth'
        },
        ...this.visibleKindsColumns,
        {
          name: 'mainScore',
          required: true,
          label: 'Сумма',
          align: 'left',
          field: row => this.formatScore(row.mainScore),
          sortable: true,
          classes: 'fitwidth'
        },
        {
          name: 'place',
          required: true,
          label: 'Место',
          align: 'left',
          field: 'place',
          sortable: true
        }
      ]
    },
    sportsmanGroupColumns () {
      return [
        {
          name: 'name',
          required: true,
          label: 'Название',
          align: 'left',
          field: 'name',
          sortable: true,
          classes: 'fitwidth'
        },
        {
          name: 'region',
          required: true,
          label: 'Субъект РФ',
          align: 'left',
          field: row => row.region ? row.region.name : '',
          sortable: true,
          classes: 'fitwidth'
        },
        {
          name: 'city',
          required: true,
          label: 'Город',
          align: 'left',
          field: row => row.city ? row.city.name : '',
          sortable: true,
          classes: 'fitwidth'
        },
        {
          name: 'club',
          required: true,
          label: 'Клуб',
          align: 'left',
          field: 'club',
          sortable: true,
          classes: 'fitwidth'
        },
        {
          name: 'trainers',
          required: true,
          label: 'Тренеры',
          align: 'left',
          field: 'trainers',
          sortable: true,
          classes: 'fitwidth'
        },
        ...this.visibleKindsColumns,
        {
          name: 'mainScore',
          required: true,
          label: 'Сумма',
          align: 'left',
          field: row => this.formatScore(row.mainScore),
          sortable: true,
          classes: 'fitwidth'
        },
        {
          name: 'place',
          required: true,
          label: 'Место',
          align: 'left',
          field: 'place',
          sortable: true
        }
      ]
    },
    exportConfig () {
      return {
        competitionLabel: this.event.name,
        locationLabel: `г. ${this.event.city.name}, ${this.event.region.name}`,
        dateLabel: this.event.defaultExportConfig.dateLabel,
        nominationLabel: this.category.exportLabel,
        mainSecretaryLabel: this.event.defaultExportConfig.mainSecretaryLabel,
        mainJudgeLabel: this.event.defaultExportConfig.mainJudgeLabel,
        isFooter: this.event.defaultExportConfig.footer,
        hiddenColumns: this.event.defaultExportConfig.hiddenColumns
      }
    },
    kindsColumns () {
      return this.resultKindsOrdered
        .map(kind => ({
          name: this.getKindColumnName(kind.id),
          align: 'center',
          label: kind.name,
          bestResultFrom: kind.bestResultFrom,
          field: row => {
            if (row && row[this.getKindColumnName(kind.id)]) {
              return this.formatScore(row[this.getKindColumnName(kind.id)].score.finalScore)
            }
            return '-'
          },
          sortable: true,
          classes: 'fitwidth'
        }))
    },
    visibleKindsColumns () {
      return this.kindsColumns
        .filter(kindColumn => !this.hiddenKindColumns.some(hiddenKind => hiddenKind === kindColumn.name))
    },
    sportsmenResults () {
      const sportsmenResults = this.sportsmen
        .map(sportsman => ({
          fullName: this.formatFullName(sportsman.lastName, sportsman.firstName),
          ...sportsman,
          ...this.resultKindsOrdered.reduce((kindsWithPerformance, kind) => {
            const performance = this.getPerformanceOfKind(sportsman.performances, kind)
            kindsWithPerformance[this.getKindColumnName(kind.id)] = performance
              ? {
                  ...performance
                }
              : null
            return kindsWithPerformance
          }, {}),
          mainScore: this.getMainScoreOfPerformances(sportsman.performances)
        }))
        .sort((sportsman1, sportsman2) => sportsman2.mainScore - sportsman1.mainScore)
      sportsmenResults.forEach((sportsman, i, sportsmen) => {
        sportsman.place = i === 0 ? 1 : (sportsmen[i - 1].mainScore === sportsman.mainScore ? sportsmen[i - 1].place : (sportsmen[i - 1].place + 1))
      })
      return sportsmenResults.filter(row => this.isShowEmpty || row.mainScore > 0)
    },
    sportsmanGroupsResults () {
      const sportsmanGroupsResults = this.sportsmanGroups
        .map(sportsmanGroup => ({
          ...sportsmanGroup,
          sportsmen: sportsmanGroup.sportsmen.map(sportsman => ({
            ...sportsman,
            fullName: this.formatFullName(sportsman.lastName, sportsman.firstName)
          })),
          ...this.resultKindsOrdered.reduce((kindsWithPerformance, kind) => {
            const performance = this.getPerformanceOfKind(sportsmanGroup.performances, kind)
            kindsWithPerformance[this.getKindColumnName(kind.id)] = performance
              ? {
                  ...performance
                }
              : null
            return kindsWithPerformance
          }, {}),
          mainScore: this.getMainScoreOfPerformances(sportsmanGroup.performances)
        }))
        .sort((sportsmanGroup1, sportsmanGroup2) => sportsmanGroup2.mainScore - sportsmanGroup1.mainScore)
      sportsmanGroupsResults.forEach((sportsmanGroup, i, sportsmanGroups) => {
        sportsmanGroup.place = i === 0 ? 1 : (sportsmanGroups[i - 1].mainScore === sportsmanGroup.mainScore ? sportsmanGroups[i - 1].place : (sportsmanGroups[i - 1].place + 1))
      })
      return sportsmanGroupsResults.filter(row => this.isShowEmpty || row.mainScore > 0)
    },
    resultKindsOrdered () {
      let resultKindsOrdered = []
      if (this.event.isStartListByCities) {
        resultKindsOrdered = this.category.kinds
      } else {
        const participants = this.isSportsmanGroups ? this.sportsmanGroups : this.sportsmen
        resultKindsOrdered = participants
          .reduce((kinds, participant) => {
            kinds = participant.performances.reduce((kinds, performance) => {
              let kind = kinds.find(kind => kind.id === performance.kind.id)
              if (!kind) {
                kind = {
                  ...performance.kind,
                  days: []
                }
                kinds.push(kind)
              }
              let day = kind.days.find(day => day.id === performance.day.id)
              if (!day) {
                day = {
                  ...performance.day,
                  performancesCount: 0
                }
                kind.days.push(day)
              }
              day.performancesCount++
              return kinds
            }, kinds)
            return kinds
          }, [])
          .map(kind => ({
            ...kind,
            mainDay: kind.days.sort((day1, day2) => day1.performancesCount - day2.performancesCount)[0]
          }))
          .sort((kind1, kind2) => new Date(kind1.mainDay.date) - new Date(kind2.mainDay.date))
      }

      if (this.category.kindsBestResults.length > 0) {
        return [
          ...resultKindsOrdered.filter(kind => !this.category.kindsBestResults.some(({ id }) => id === kind.id)),
          {
            id: this.category.kindsBestResults.map(kind => kind.id).join('_'),
            name: this.category.kindsBestResults.map(kind => kind.name).join(' | '),
            bestResultFrom: this.category.kindsBestResults
          }
        ]
      }
      return resultKindsOrdered
    },
    columnsForExport () {
      return {
        name: {
          maxLength: 0
        },
        region: {
          maxLength: 0
        },
        city: {
          maxLength: 0
        },
        trainers: {
          maxLength: 0
        },
        club: {
          maxLength: 0
        },
        kindsRates: {
          maxLength: 0
        }
      }
    },
    dataIndividualToExport () {
      const rowsPer1Page = 34
      const rowsPer2Page = 40
      const totalRowsCount = this.sportsmenResults.length
      const columns = this.columnsForExport
      const results = this.sportsmenResults.map(sportsmanResult => {
        this.calculateColumnsMaxLength(columns, sportsmanResult)
        return {
          place: sportsmanResult.place,
          name: sportsmanResult.fullName,
          year: sportsmanResult.year,
          rank: sportsmanResult.rank,
          region: sportsmanResult?.region?.name ?? '',
          city: sportsmanResult?.city?.name ?? '',
          club: sportsmanResult?.club ?? '',
          trainers: sportsmanResult.trainers,
          kindsRates: this.visibleKindsColumns.map(kind => sportsmanResult[kind.name]?.score.finalScore ?? 0),
          total: sportsmanResult.mainScore
        }
      })
      const kinds = this.getKindsLabelsForExport(this.visibleKindsColumns)
      columns.kindsRates.maxLength = this.getColumnMaxLength(columns.kindsRates.maxLength, kinds.reduce((maxKindLabelLength, kindLabel) => Math.max(maxKindLabelLength, kindLabel.length), 0) + 1)
      const numOfPages = totalRowsCount > rowsPer1Page ? totalRowsCount > (rowsPer1Page + rowsPer2Page) ? 3 : 2 : 1

      // Показывать нижний колонтитул (подписи) на всех страницах, кроме последней
      const pagesWithFooter = numOfPages - 1
      return {
        ...this.exportConfig,
        kinds,
        rowsCount: totalRowsCount,
        pagesWithFooter,
        columns,
        results
      }
    },
    dataGroupToExport () {
      const rowsPer1Page = 34
      const rowsPer2Page = 40
      let totalRowsCount = this.sportsmanGroupsResults.length
      const columns = this.columnsForExport
      const kinds = this.getKindsLabelsForExport(this.visibleKindsColumns)
      columns.kindsRates.maxLength = this.getColumnMaxLength(columns.kindsRates.maxLength, kinds.reduce((maxKindLabelLength, kindLabel) => Math.max(maxKindLabelLength, kindLabel.length), 0) + 1)
      const results = this.sportsmanGroupsResults.map(sportsmanGroupResult => {
        totalRowsCount += sportsmanGroupResult.sportsmen.length
        this.calculateColumnsMaxLength(columns, sportsmanGroupResult)
        return {
          place: sportsmanGroupResult.place,
          name: sportsmanGroupResult.name,
          region: sportsmanGroupResult.region?.name ?? '',
          city: sportsmanGroupResult.city?.name ?? '',
          club: sportsmanGroupResult.club ?? '',
          trainers: sportsmanGroupResult.trainers,
          kindsRates: this.visibleKindsColumns.map(kind => sportsmanGroupResult[kind.name]?.score.finalScore ?? 0),
          sportsmen: sportsmanGroupResult.sportsmen.map(sportsman => {
            this.calculateColumnsMaxLength(columns, sportsman)
            return {
              name: sportsman.fullName,
              year: sportsman.year,
              rank: sportsman.rank,
              region: sportsman.region?.name ?? '',
              city: sportsman.city?.name ?? '',
              club: sportsman.club ?? '',
              trainers: sportsman.trainers
            }
          }),
          total: sportsmanGroupResult.mainScore
        }
      })

      const numOfPages = totalRowsCount > rowsPer1Page ? totalRowsCount > (rowsPer1Page + rowsPer2Page) ? 3 : 2 : 1

      // Показывать нижний колонтитул (подписи) на всех страницах, кроме последней
      const pagesWithFooter = numOfPages - 1
      return {
        ...this.exportConfig,
        kinds,
        rowsCount: totalRowsCount,
        pagesWithFooter,
        columns,
        results
      }
    },
    dataGroupShortToExport () {
      const rowsPer1Page = 34
      const rowsPer2Page = 40
      const totalRowsCount = this.sportsmanGroupsResults.length
      const columns = this.columnsForExport
      const kinds = this.getKindsLabelsForExport(this.visibleKindsColumns)
      columns.kindsRates.maxLength = this.getColumnMaxLength(columns.kindsRates.maxLength, kinds.reduce((maxKindLabelLength, kindLabel) => Math.max(maxKindLabelLength, kindLabel.length), 0) + 1)
      const results = this.sportsmanGroupsResults.map(sportsmanGroupResult => {
        this.calculateColumnsMaxLength(columns, sportsmanGroupResult)
        return {
          place: sportsmanGroupResult.place,
          name: sportsmanGroupResult.name,
          region: sportsmanGroupResult.region?.name ?? '',
          city: sportsmanGroupResult.city?.name ?? '',
          club: sportsmanGroupResult.club ?? '',
          trainers: sportsmanGroupResult.trainers,
          kindsRates: this.visibleKindsColumns.map(kind => sportsmanGroupResult[kind.name]?.score.finalScore ?? 0),
          total: sportsmanGroupResult.mainScore
        }
      })

      const numOfPages = totalRowsCount > rowsPer1Page ? totalRowsCount > (rowsPer1Page + rowsPer2Page) ? 3 : 2 : 1

      // Показывать нижний колонтитул (подписи) на всех страницах, кроме последней
      const pagesWithFooter = numOfPages - 1
      return {
        ...this.exportConfig,
        isFooter: false,
        kinds,
        rowsCount: totalRowsCount,
        pagesWithFooter,
        columns,
        results
      }
    }
  },
  methods: {
    getKindsLabelsForExport (kinds) {
      return kinds.map(kind => {
        if (kind.bestResultFrom?.length > 0) {
          return kind.bestResultFrom[0].name
        }
        return kind.label
      })
    },
    calculateColumnsMaxLength (columns, participant) {
      const borderSpace = 2
      columns.name.maxLength = this.getColumnMaxLength(columns.name.maxLength, (participant.name ?? participant.fullName ?? '').length + borderSpace)
      columns.region.maxLength = this.getColumnMaxLength(columns.region.maxLength, participant.region?.name.length + borderSpace)
      columns.city.maxLength = this.getColumnMaxLength(columns.city.maxLength, participant.city?.name.length + borderSpace)
      columns.trainers.maxLength = this.getColumnMaxLength(columns.trainers.maxLength, participant.trainers.length + borderSpace)
      columns.club.maxLength = this.getColumnMaxLength(columns.club.maxLength, participant.club.length + borderSpace)
    },
    getColumnMaxLength (maxLength1, maxLength2) {
      return Math.max(maxLength1 || 0, maxLength2 || 0)
    },
    getKindColumnName (kindId) {
      return 'kind_' + kindId
    },
    formatFullName (lastName, firstName) {
      return lastName + ' ' +
        ((firstName !== null && firstName.length > 0) ? (firstName + ' ') : '')
    },
    toggleKindColumns (visibleColumns) {
      this.hiddenKindColumns = this.kindsColumns
        .filter(kindColumn => !visibleColumns.some(visibleColumn => visibleColumn === kindColumn.name))
        .map(hiddenKindColumn => hiddenKindColumn.name)
    },
    formatScore (score) {
      return formatScore(score)
    },
    getPerformanceOfKind (performances, kind) {
      if (kind.bestResultFrom?.length > 0) {
        return this.getBestPerformanceFrom(
          this.getPerformancesOfKinds(performances, kind.bestResultFrom)
        )
      }
      return performances.find(performance => performance.kind.id === kind.id)
    },
    getBestPerformanceFrom (performances) {
      return performances.reduce((bestPerformance, performance) =>
        (!bestPerformance || bestPerformance.score.finalScore < performance.score.finalScore) ? performance : bestPerformance
      , null)
    },
    getPerformancesOfKinds (performances, kinds) {
      return performances.filter(performance => kinds.some(({ id }) => id === performance.kind.id))
    },
    getMainScoreOfPerformances (performances) {
      if (performances.length === 0) {
        return 0
      }
      let performancesToCount = []
      if (this.visibleKindsColumns.some(kind => kind.bestResultFrom)) {
        performancesToCount = this.visibleKindsColumns.filter(kind => kind.bestResultFrom).map(kind =>
          this.getBestPerformanceFrom(
            this.getPerformancesOfKinds(performances, kind.bestResultFrom)
          )
        )
          .filter(performance => performance)
      }
      performancesToCount = [
        ...performancesToCount,
        ...performances.filter(performance => {
          return this.visibleKindColumnsNames.some(kindColumnName => kindColumnName === (this.getKindColumnName(performance.kind.id)))
        })
      ]
      return performancesToCount.reduce((mainScore, performance) => mainScore + performance.score.finalScore, 0)
    }
  }
}
</script>
<style lang="stylus">
td.fitwidth {
  width: 1px;
  white-space: nowrap;
}
</style>
